<h4 class="fw-bold fst-italic mb-1">סטורי (Satori)</h4>  
<p class="text-secondary  mb-3 font-weight-bold">
    <i class="fa fa-book fs-5"></i>
    &nbsp;
    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
    |
    &nbsp;
    <i class="fa fa-user fs-5" aria-hidden="true"></i>
    &nbsp;
    דני וקסמן ועופר כהן
</p>
<p>
    מילה ביפנית שמשמעותה הארה. הכוונה להארה ולהתעוררות מלאה. 
    בסוטו-זן, הסטורי הוא פתאומי ובא לאחר שהאדם הגיע לעצמו כלומר, מצא את טבעו האמיתי. 
    גם לאחר שמגיעים לסטורי ממשיכים לתרגל זה-זן. על פי דרך הסוטו-זן, הארה וחיי יומיום הם בלתי נפרדים, כפי שאימון והארה הם בלתי נפרדים ולכן אדם שהגיע לעצמו או לסטורי מגשים את דרכו של הבודהה.
</p>
