
<!-- About Start -->
<div class="container-fluid p-5">
    <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100 rounded" src="/assets/img/about.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4">
                <h5 class="text-primary text-uppercase">על עצמי</h5>
                <h1 class="display-3 text-uppercase mb-0">ברוכים הבאים לדוג'ו של נטליה </h1>
            </div>
            <h4 class="text-body mb-4">בכאן תוכלו ללמוד את אחד האמנויות לחימה העתיקות ביותר, נינג'וטסו, שמקורה עוד מתקופת הסמוראים בעיקר מהפרובינציות איגה וקוגה שביפן. האימונים כוללים את אימון גוף ונפש המתמקדות בשלוש טכניקות עיקריות שהן טָאי-ג'וּטסוּ (אומנות הגוף, קרב ללא נשק) , 
                קֵן-ג'וּטסוּ –(אמנות לחימה בחרב יפנית)
                בּוֹ-ג'וּטסוּ (אומנות המקל)
                  בעזרת האימונים תוכלו להכיר את העוצמה הפנימית שלכם, לחזק את הגוף ולהגיע מוכנים לקרב בכל מצב ובכל זמן. האימונים מתבצעים בקבוצות קטנות עם יחס אישי ומתאימים לגברים, נשים ובני נוער.
                </h4>
            <p class="mb-4">מקום האימונים שלנו שייך לבית הספר היפני של בג'ינקאן, שבמרכזו עומד ראש השיטה ד"ר מסאקי האצומי, הסוֹקֵה (ראש שיטה) ה-34 בשושלת ראשי שיטות הנינג'וטסו. האצומי קיבל את אוסף השיטות מטושיצוגו טאקמאצו. השיטה שאנחנו למדים היא נינג'וטסו בשילוב לט-גו וג'ודו שאותה למדתי אצל המורה שלי דאי-שיהאן דני וקסמן בישראל (שיהאן, תואר כבוד שפירושו מומחה או בכיר השיטה), וכוללת בתוכה את המדיטציה בתנועה וחופש התנועה, העוזרת לתלמיד לפתח את התנועה היחודית ואת סיגנון הלחימה משלו, להגיע לאיזון ודיוק בתנועה.
                </p>
            <div class="rounded bg-dark p-5">
                <ul class="nav nav-pills justify-content-between mb-3">
                    <li class="nav-item w-50">
                        <a class="nav-link text-uppercase text-center w-150 active" data-bs-toggle="pill" href="#pills-1">על עצמי</a>
                    </li>
                    <li class="nav-item w-50">
                            <a class="nav-link text-uppercase text-center w-100" data-bs-toggle="pill" href="#pills-2">מה נעשה באימון</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-1">
                        <p class="text-secondary mb-0">
                            שמי נטליה גורדון, אני מאמנת מוסמכת לאומנויות לחימה ונינג'וטסו עם ניסיון בהדרכת קבוצות קטנות ואימונים אישיים.
                            את הדרך שלי לאומנויות לחימה התחלתי מגיל 8 כשראיתי קבוצת קראטה של בנים מתאמנת באולם ספורט, כך שלאחר 10 שנים התחלתי ללמוד קראטה בבאר שבע אצל מורה לקראטה-דו מושה גליסקו, ולאחר מכן המשכתי ללמוד אצל חיים וייסמן נינג'וטסו, לאחר מספר שנים ב 2011 יצא לי להכיר את הסנסאי דני וקסמן, ביפנית דן-סאן, שלימד נינג'וטסו ומאז נשארתי ללמוד בקבוצה שלו, על מנת לתרגל טכניקה קרבית ולהשתתף בקרבות סנסאי שלח אותי ללמוד אצל ד"ר האנובר שיטת דניס השרדות – ג'וג'יטסו. באותה תקופה טסתי ליפן להכיר את המורה של השיטה בנינג'וטסו, ד"ר מסאקי האצומי, בבית הבספר בוג'ינקאן, התאמנתי יום ולילה בדוג'ו ושם הכרתי את הסנסאי טנקה-סאן והלכתי ללמוד גם אצלו נינג'וטסו.
                            ב 2019 טסתי שוב פעם ליפן, הפעם לעשות מבחן לדרגת דן-5 והסמכה למורה נינג'וטסו בבית הספר בוג'ינקאן.
                            ב 2022 קיבלתי דרגת דן-8 בנינג'וטסו.
                            עד היום אני ממשיכה להתאמן אצל המורה שלי בישראל דני וקסמן ולאמן נינג'וטסו.
                            אישית אני מאוד מודה על זה שהייתה לי הזדמונות יוצאת מן הכלל להכיר וללמוד אצל מורים כלכך טובים ויחודיים, כל אחד השאיר בי חותמת וידע יוצא מן הכלל. הלב שלי מלא כבוד והערכה לכל אחד מהמורים שפגשתי בדרכי.                            
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-2">
                        <p class="text-secondary mb-0">ההאימון בנינג'וטסו מתחלק לשלושה שלבים. החלק הראשון, זה חלק של חימום הכולל מתיחות, פיתוח גמישות ושיווי משקל, תרגול צורות רבות של גיגלולים, וטכניקות נפילה על הקרקע.
                            בחלק השני מתרגלים קאטות בסיס, סאן-שין נו קאטה, קיהון האפפו, שזה כולל אוסף של תנועות עבור הגנה ותקיפה. לאחר מכן מתחלקים לזוגות והמורה מראה תרגיל לשיקול דעתו ולפי רמת התלמידים בקבוצה, כך המורה מדגים מספר תרגילים וכולם מתרגלים.
                            בחלק השלישי, רבע שעה לקראת סיום האימון עושים זה-זן, מדיטציה בישיבה או בעמידה תלוי בתנאי השטח ומזג אויר.
                            צורת לבוש באימון היא בגדים נוחים ונעלי ספורט, נהוג לבוא עם מכנס מרווח שחור וחולצה שחורה, במקור בדוג'ו מתאמנים בחליפת קימונו שחורה ונעלי טאבי, אלו הם נעלי בד עבה בצבע כחול.                           
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
