<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">הקואן בחיי היום יום (גֶנְג'וֹקוֹאָן)</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    04 יוני 2025
                </p> 
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-book fs-5"></i>
                    &nbsp;
                    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5" aria-hidden="true"></i>
                    &nbsp;
                    דני וקסמן ועופר כהן
                </p>
                <p class="article-text">&nbsp;
                    כשכל הדברים הם ביטוי עצמי של טבע-בודהה, אשליות והארה קיימות, אימונים קיימים, חיים ומוות קיימים, בודהים קיימים, כל-הישוית קיימות. כאשר כל הדברים הם ללא אגו, אין שום אשליה, אין הארה, אין כל-הוויה, אין לידה ודעיכה. מכיוון שהדרך של בודהה מגיעה אל מעבר ליחסי ולמוחלט, לידה ודעיכה קיימים, אשליה והארה קיימות, כל-הישויות והבודהים קיימים. ולמרות זאת, פרחים נובלים בעוד אנו מתפעלים מפריחתם, עשבים שוטים מלבלבים בעוד אנו מקוים שימותו. לאמן ולהאיר את כל הדברים מנקודת המבט של האגו זו אשליה; לאמן ולהאיר את האני (האגו), באמצעות כל הדברים זו הארה.
                </p>
                <p class="article-text">&nbsp;
                    אלו המאירים את האשליה העצמית שלהם הם בודהים; אלו הנצמדים לאשליות בתוך ההארה הם כל-הישויות. ושוב, יש כאלו שמשיגים הארה ע"י הארה - וכאלו שנצמדים לאשליות בתוך אשליתם. כשבודהים הם באמת בודהים, אין לנו צורך לדעת שאנו זהים לבודהים. אך אנו בודהים בעלי הארה - ומבטאים את טבענו האמיתי בחיי היומיום. כשאנו רואים עצמים ושומעים קולות בכל גופנו ונפשנו (מתוך תפקוד מלא) - ותופסים אותם בצורה בלתי אמצעית - (בצורה לא-דואליסטית), זו אינה תופעה כמו ראי המשקף צורה או ירח המשתקף במים. כשאנו מבינים צד אחד, הצד השני נשאר בחשכה. ללמוד בודהיזם זה ללמוד את האני. ללמוד את האני זה לשכוח את האני. לשכוח את האני זה להיות מואר על ידי כל הדברים. להיות מואר על ידי כל הדברים זה להיות חופשי מתלות בגוף ובנפש שלנו ושל אחרים. הכוונה היא לבטל אפילו את התלות שלנו בסָטוֹרִי. בעודנו מבטלים את התלות שלנו בסטורי, אנו מוכרחים להכנס לחברה הממשית.
                </p>
                <p class="article-text">&nbsp;
                    כשהאדם מבין בפעם הראשונה את החוק האמיתי, הוא משחרר את עצמו לתמיד משאלת גבולות האמת. אדם המעורר בתוכו את החוק האמיתי הופך מיד להיות אדם מקורי. כאשר אתם שטים בסירה ומביטים לעבר החוף, אתם סבורים בטעות שהחוף זז. אך כשאתם בוחנים היטב את הסירה, אתם רואים שהסירה היא זו שבעצם זזה. באופן דומה, הסתכלות על כל הדברים דרך התפיסה המוטעית של הגוף והנפש מביאה לאמונה המוטעת שהנפש ותכונות מסוימות של ההוויה ניצחיות. אם אתם חיים חיי אמת וחוזרים למקור, ברור לכם שלכל הדברים אין עצמיות. גזעי עצים בוערים נהיים לאפר - ואינם יכולים לחזור להיות שוב עצים. לכן עליכם לא לראות את האפר כאחרי ואת גזעי העצים כלפני. אתם מוכרחים להבין שלגזע עץ בוער - כגזע עץ בוער - יש לפני ואחרי. אך למרות שיש לו עבר ועתיד, הוא מנותק מעבר ועתיד. לאפר, כאפר, יש אחרי ולפני. בדיוק כמו שאפר לא הופך להיות בחזרה גזע עץ לאחר שנעשה לאפר, האדם לא חי שוב אחרי המוות. לכן, לומר שחיים לא נהיים מוות היא ההשקפה הטבעית של הבודהיזם. לכך קוראים העדר-חיים.
                </p>
                <p class="article-text">&nbsp;
                    אחד העקרונות החשובים שבודהה לימד שוב ושוב היה שמוות לא הופך להיות חיים. לכך קוראים העדר-מוות. חיים הם מצב של זמן, ומוות הוא מצב של זמן. בדיוק כמו חורף ואביב. כדי שתגיעו להבנה הכרחי שתפסיקו להאמין שחורף נהייה אביב - וכן אי אפשר לומר שאביב נהייה לקיץ. כשאדם משיג הארה, זה כמו שירח משתקף במים: הירח לא נעשה רטוב, ושלוות המים אינה מופרת. למרות שהירח מאיר בעוצמה ולמרחוק, הוא משתקף בשלולית של מים. הירח בשלמותו וכל השמים משתקפים באגל טל אחד על הדשא. כשם שהארה לא מפריעה לאדם, הירח לא מפריע למים. כמו שבאדם אין דבר המכשיל הארה, כך גם אגל הטל אינו חוסם את הדרך בפני הירח שבשמיים.
                </p>
                <p class="article-text">&nbsp;
                    ככל שאור הירח משתקף עמוק יותר במים, הירח עצמו גבוה יותר. עליכם להבין שמשך הזמן (קצר או ארוך) של השתקפות הירח במים מעיד על גודל מקור המים (קטן או גדול), ועד כמה צר או מלא הוא הירח.
                </p>
                <p class="article-text">&nbsp;
                    כשהחוק האמיתי אינו נקלט בשלמותו על ידי גופנו ונפשנו, אנו חושבים שהמצב הזה שאליו הגענו הוא מספיק. אבל אם החוק האמיתי נקלט כולו על ידי הגוף והנפש, אנו חשים שמשהו חסר. לדוגמא, כשאתם שטים בים בסירה למקום ממנו ההרים אינם נראים ומביטים סביב, אתם רואים אך ורק את מי האוקינוס סביבכם; אתם לא יכולים לראות שום דבר אחר. אבל אוקינוס עצום זה אינו עגול ואינו רבוע. הוא בעל אין-ספור מאפיינים אחרים. יש הרואים אותו כארמון; אחרים כקישוט. אנו רואים אותו כעגול רק לעת עתה - בטווח של ראיתנו: זוהי הדרך בה אנו רואים את כל הדברים. למרות שדברים שונים כלולים בעולם זה של הארה, אנו יכולים לראות ולהבין רק עד אופק הראיה של מתאמן הזֵן. כדי לדעת את המהות של כל הדברים, עליכם להבין שבנוסף להופעתם כעגולים או רבועים, קיימים הרבה מאפינים אחרים לאוקינוס ולהר ושקיימים עולמות רבים. אין זה עניין של סביבת חיים: אתם מוכרחים להבין שטיפה מכילה את האוקינוס ושהחוק האמיתי נמצא ישר מתחת לרגליכם.
                </p>
                <p class="article-text">&nbsp;
                    כשדגים שוחים במים, אין סוף למים, ולא משנה עד כמה רחוק הם ינדדו. כשציפורים עפות בשמיים, אין סוף לשמיים, ולא משנה עד כמה רחוק הן תעופנה. אך דגים וציפורים אינם נפרדים ממים או שמיים מלידתם. זה רק כך: כשמתעורר צורך גדול, מתעורר שימוש גדול; כשיש צורך קטן, יש גם שימוש קטן. לכן, הם מממשים תיפקוד מלא בכל דבר ואת היכולת החופשית בהתאם לכל מקום.
                </p>
                <p class="article-text">&nbsp;
                    אך אם ציפורים מפרידות עצמן מהשמיים, הן מתות; אם דגים מפרידים עצמם מהמים, הם מתים. אתם מוכרחים להבין שדגים חיים בגלל המים וציפורים בגלל השמיים. ניתן גם לומר שהשמיים חיים בגלל שיש ציפורים והמים בגלל שיש דגים ושהציפורים הן חיים והדגים הם חיים. בודאי תוכלו למצוא וריאציות נוספות לרעיון זה. בקרב בני האדם, למרות שיש אימון והארה וחיים ארוכים וקצרים, הכל הם מצבים של האמת עצמה. אך אם הדגים, לאחר ששחו במים, מנסים להתרחק מהם, או אם הציפורים, לאחר שעפו בשמיים, מנסות להתרחק מהם - הם אינם יכולים למצוא דרך או מקום מנוחה במים או בשמים.
                </p>
                <p class="article-text">&nbsp;
                    אם אתם מוצאים מקום זה, הפעולות שלכם תהיינה מלאות חיוניות והדרך תבוטא בטיבעיות. אם אתם מוצאים דרך זו, פעולותיכם הם אמת שמומשה בחיי היומיום. את הדרך והמקום האלו אי אפשר לתפוס במונחים יחסיים כמו גדול וקטן, אני ואחרים - הם לא היו שם מבראשית וגם לא הופיעו עתה. הם שם בדיוק כפי שהם אמורים להיות. בגלל שהדרך והמקום הם כמתואר לעיל, אם, תוך כדי תרגול הבודהיזם, אתם מבינים דבר אחד, אתם חודרים לדבר אחד; אם אתם משלימים תרגול אחד, אתם חודרים לתרגול אחד. כשאנו מבטאים באופן עמוק את המקום והדרך האלו, אנו לא נוכחים בהם בבהירות, משום שפעילות זו מתלכדת ומתרחשת בו-זמנית עם הלימוד של הבודהיזם.
                </p>
                <p class="article-text">&nbsp;
                    הכרחי שלא תטעו ותחשבו, שלאחר שהשגתם הארה, אתם יכולים תמיד להיות מודעים להארה כידע אישי שיש לכם על עצמכם. למרות שהשגנו כבר הארה, מה שהשגנו אינו מבוטא בהכרח וקשה להסבירו כלפי חוץ.
                </p>
                <p class="article-text">&nbsp;
                    באחד מימי הקיץ, נפנף מורה הזן פָּאוּ-שִיָה במניפה, כשנזיר שעבר בסביבה שאל אותו: טבעה של הרוח לא משתנה וקיים לנצח. מדוע אם כך אתה משתמש במניפה שלך, אדוני?
                </p>
                <p class="article-text">&nbsp;
                    מורה הזן ענה: למרות שאתה יודע שטבע הרוח לא משתנה, אינך יודע מדוע הוא קיים  לנצח.
                </p>
                <p class="article-text">&nbsp;
                    שאל הנזיר, מדוע, אם כן, קיימת הרוח לנצח?
                </p>
                <p class="article-text">&nbsp;
                    המורה רק המשיך לנפנף במניפה, והנזיר קד לו.
                </p>
                <p class="article-text">&nbsp;
                    הארה באמצעות התנסות אמיתית והדרך החיונית של העברה נכונה, הן כאלו. אלו השוללים את הצורך בנפנוף במניפה בגלל שטבע הרוח לא משתנה ומשום שניתן לחוש ברוח מבלי להשתמש במניפה, אינם מבינים לא את הנוכחות הנצחית של הרוח ולא את טיבעה. משום שטבע הרוח נוכח לנצח, הופכת הרוח של הבודהיזם את הארץ לזהב ומבשילה את הנהרות כך שיהיו חמאה וחלב.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4">3 תגובות</h3>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex ms-5 mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
            </div>
            <!-- Comment List End -->

            <!-- Comment Form Start -->
            <app-addcomment></app-addcomment>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->