<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">חשיבות הנפש האוניברסלית</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    27 בנובמבר 2025
                </p> 
                <p class="article-text">&nbsp;
                    פיתוח הנפש האוניברסלית מכונן ומבסס את יסודות הבניין של השלום וההומניזים. אדם שמפתח את הנפש האוניברסלית מגיע לא רק לרמת ההתפתחות האנושית בה הוא אוהב את הגזע שלו את העם שלו והקהילה שלו. אלא הוא אוהב גם את שאר בני האדם, שאר העמים, שאר הגזעים. הוא אוהב לא רק את הדומים לו אלא גם את השונים. אם אתה לא אוהב את האנשים האחרים, אז גם הם לא יאהבו אותך, אך אם אתה אוהב אותם, במשך הזמן הם יאהבו גם אותך. זהו חוק פשוט ותקף של הטבע. זה נכון בכל מקום וזה היסוד של העתיד, של יצירת עולם יותר טוב ושל שלום בכל רמה שהיא.
                </p>
                <p class="article-text">&nbsp;
                    מה היסוד של הנפש האוניברסלית? אי אפליה. הנפש האוניברסלית אינה מפלה. היא משוחררת לגמרי מהמחשבה מכוננת הניגודים. אדם בעל נפש אוניברסלית השתחרר כבר מהאגו. הוא מצא את האני האמיתי שלו והוא עובד רק למען האושר של האנושות. לא מפלה בין דת לדת, בין גבר לאישה, בין צבע לצבע, שייכות לעם, מדינה, או תרבות מסוימת, מעמד חברתי, או מצב כלכלי. אין שום אפליה. הוא נכון לסייע ועוזר בפועל בלי שום שמץ של אפליה לכל אחד להגיע להיות הוא עצמו.
                </p>
                <p class="article-text">&nbsp;
                    המפתח לנפש האוניברסלית הוא מציאת מורה אמיתי שיעזור לך למצוא את עצמך באמצעות ישיבת הזָה-זֵן. הוא יעביר לך את החוק האמיתי  של בודהה ביושבכם זָה-זֵן יחדיו ובסופו של דבר תוכל למצוא את עצמך ותהיה מסוגל להתעלות וללמוד את הדרך של הנפש האוניברסלית. מי שפיתח נפש אוניברסלית הוא בּוֹדְהִיסָאטוֹוָה.
                </p>
                <p class="article-text">&nbsp;
                    הנפש האוניברסלית לא מוגבלת ומותנת במידת האינטליגנציה, או בכל היבט או דבר היוצר ניגודים. כל אחד יכול להתעלות ולהגיע לנפש האוניברסלית. מנקה הרחובות, עובד בהיי-טק, המורה בתיכון, מוכר העיתונים, ראש הממשלה, כולם יכולים להיות כאלו שפיתחו את הנפש המיוחדת הזו.
                </p>
                <p class="article-text">&nbsp;
                    בני אדם שפיתחו את הנפש האוניברסלית אינם רודפים אחר פירסומת ורווח. הם יכולים להיות גלויים או חבויים בהתאם לנסיבות, כשהם בוחרים לפעול הם מתפקדים ביעילות ובאנושיות רחומה ואינם מבקשים לעצמם תהילה.
                </p>
                <p class="article-text">&nbsp;
                    אף אחד לא יזרוק בקבוקי תבערה על אדם בעל נפש אוניברסלית או יפעל כלפיו באלימות. אנשים שפיתחו נפש אוניברסלית לא נקלעים למצבים כאלו, זה בדרך כלל לא קורה להם. אם בכל זאת הדבר מתרחש אז נלחמים. לא נלך כצאן לטווח כמו שהרגו אותנו באושביץ, לא ניתן את הלחי השניה כמו ישו. הנפש האוניברסלית אינה מחפשת להרוג, אך כל אדם חייב להגן על עצמו ולא להפוך להיות קורבן. אסור להיות קורבן גם אם פיתחנו את הנפש האוניברסלית.
                </p>
                <p class="article-text">&nbsp;
                    הנפש האוניברסלית היא תוצאה של האימונים בזה-זן. כשהיא מפותחת במלואה היא תופסת את המקום של האגו במכלול האישיות של האדם שהתפנה לאחר שהאדם הגיע לעצמו, ואין לו יותר אגו. אדם כזה עוזר לבני אדם אחרים להגיע לעצמם ומבטא להלכה ולמעשה את הנפש האוניברסלית שלו בחיי היום יום.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

