<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-0">
    <a href="#" class="navbar-brand d-block d-lg-none">
        <img src="/assets/img/logo.svg" alt="Dojo Natalia" loading="lazy">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav py-0">
            <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">בית</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">אודות</a>
            <a routerLink="/workouts" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">יומן אימונים</a>
            <a routerLink="/gallery" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">גלריה</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">בלוג</a>
                <div class="dropdown-menu">
                    <a routerLink="/sensei/articles/zen" routerLinkActive="active" class="dropdown-item" (click)="closeMobileMenu()">פילוסופיה של זן</a>
                </div>
            </div>
            <a routerLink="/testimonial" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">ממליצים</a>
            <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link" (click)="closeMobileMenu()">צור קשר</a>
        </div>
    </div>
</nav>
