<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-0">
    <a href="#" class="navbar-brand d-block d-lg-none">
        <img src="/assets/img/logo.svg" alt="Dojo Natalia" height="100" loading="lazy">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <ul class="navbar-nav mr-auto py-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">דף הבית</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active" >מי אני</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/workouts" routerLinkActive="active" >יומן אימונים</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" routerLink="/team" routerLinkActive="active">המורה שלי</a>
            </li>
          -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/testimonial" routerLinkActive="active">ממליצים</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active">מאמרים</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  סנסאי
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                
                <li><a class="dropdown-item" href="sensei/about">על המורה שלי</a></li>
                <li><a class="dropdown-item" href="sensei/team">התלמידים של דני</a></li>
                <li><hr class="dropdown-divider"></li>
                <!--<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="senseiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      מאמרים
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="senseiDropdown">                
                    <li><a class="dropdown-item" href="sensei/articles/zen">ספר על זן</a></li>
                    <li><a class="dropdown-item" href="sensei/articles/ninjutsu">נינג&#39;וטסו</a></li>
                  </ul>
                </li>-->
                <li class="dropdown-submenu">
                  <a class="dropdown-item" tabindex="-1" href="#">מאמרים</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" tabindex="-1" href="sensei/articles/zen">ספר על זן</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="sensei/articles/ninjutsu">נינג&#39;וטסו</a></li>
                    <!--<li class="dropdown-submenu">
                      <a href="#">Even More..</a>
                      <ul class="dropdown-menu">
                          <li><a href="#">3rd level</a></li>
                        <li><a href="#">3rd level</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Second level</a></li>
                    <li><a href="#">Second level</a></li>-->
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">צרו קשר</a>
            </li>
        </ul>
    </div>
</nav>
