<h4 class="fw-bold fst-italic mb-1">סוטו-זן (Soto-zen)</h4>  
<p class="text-secondary  mb-3 font-weight-bold">
    <i class="fa fa-book fs-5"></i>
    &nbsp;
    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
    |
    &nbsp;
    <i class="fa fa-user fs-5" aria-hidden="true"></i>
    &nbsp;
    דני וקסמן ועופר כהן
</p>
<p>
    זרם הזן שדוגל בעקרונות הבאים, לכל אדם יש טבע מקורי וייחודי שאינו מכלול של מחשבות, רגשות ותחושות פיזיולוגיות המכונה טבע בודהה (בודהה היה הראשון שלימד איך להגיע אליו). 
    כל אדם במהלך חייו יכול וצריך להגיע לטבעו האמיתי, לעצמו ולסטורי. 
    הארה ואימון אינם נפרדים. הארה שוכנת בתוך האימון והאימון מחבק את ההארה.  כלומר, מהרגע הראשון שאנחנו מתאמנים אנחנו כבר בתוך ההארה. 
    החוק האמיתי של בודהה עובר באמצעות מנג'ו, העברה ללא מגע פיזי. 
    הדרך הישירה להגיע לעצמך ולסטורי כאן ועכשיו היא לתרגל זה-זן, הישיבה השלווה. 
    לפי גישת סוטו-זן, די בישיבה השלווה בכדי להגיע לעצמך. לדרך זו קוראים שיקנטזה, רק תרגול זה-זן. 
    לסוטו-זן, שהובא על-ידי מורה הזן דוגן מסין ליפן בשנת 1228 קוראים גם מוקושו-זן, הזן השקט.
</p>
