<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">להתאמן כשחיים, לחיותתאמנים</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    {{ articleDate | date:'d בMMMM yyyy':'':'he' }}
                </p> 
                <h4 class="fw-bold fst-italic mb-1">לראות:</h4>
                <p class="article-text">&nbsp;
                    בזֵן יותר קשה לשבת בדממה (סְטִילְנֶס - Stillness) במשך הזמן צריך להבין את הכל מהישיבה, מהזָה-זֵן. בלי הרבה דיבורים - קל להבין את עצמך ואיך לחשוב, לראות את הקשר בין כל הדברים, הרי יש קשר בין כל הדברים שבעולם. אבל אנחנו לא רואים את זה.
                </p>
                <p class="article-text">&nbsp;
                    איך אתה רואה את הקשר בין האדם לבין העולם? יש קשר? האדם נפרד מהעולם או לא? שאל דני אותי.
                </p>
                <p class="article-text">&nbsp;
                    ולאחר זמן המשיך. יש באדם את הכל את ההבנה, את היצירה. המציאות המדומה כובשת אותך, אבל המציאות המדומה אינה המציאות של הזָה-זֵן. החומר חלש מהכוח של החופש.
                </p>
                <h4 class="fw-bold fst-italic mb-1">להתקדם:</h4>
                <p class="article-text">&nbsp;
                    אלי אמר שאנחנו לא מתקדמים בזֵן אלא מתקדמים אל! הזן.
                </p>
                <h4 class="fw-bold fst-italic mb-1">לדעת:</h4>
                <p class="article-text">&nbsp;
                    לא לבזבז זמן. לא להזניח את עצמנו. אנחנו לא יודעים מה יהיה הלאה. מתי נהיה חולים, מתי נמות, תהיה מלחמה. עכשיו אנחנו בריאים, צרכים להתאמן ולחיות טוב. רק ההווה קיים רק העכשיו. חשוב מאד לסגת ולהיות עצמך. ברגע שאתה יודע מי אתה, אתה אדם חופשי. זה אפשרי בתוך הרעש הזה של המאה העשרים, בתוך אלפי האידיאולוגיות שמתקיפות אותנו - ע"י עבודה עצמית ואימונים.
                </p>
                <h4 class="fw-bold fst-italic mb-1">עזרה:</h4>
                <p class="article-text">&nbsp;
                    אנחנו לא חיים לבד, צריך לעזור אחד לשני ולאהוב אחד את השני. החיים האנושיים אינם ג'ונגל. לא כך צריך להיות.
                </p>
                <p class="article-text">&nbsp;
                    צריך לעזור ולאהוב אחד את השני. אנחנו לא חיים לבד, לא צרכים שאדם ירגיש שהוא ביער בו כל אחד אוכל את השני. החברה צרכה להיות הומנית.
                </p>
                <h4 class="fw-bold fst-italic mb-1">דע את עצמך:</h4>
                <p class="article-text">&nbsp;
                    הנפש אוהבת שאתה הולך בדרך לעצמך. כמו שאמר הֵרַקְלִיטוּס, דע את עצמך. אפשר ללמוד ולא להבין, ואפשר כן להבין. אין סוף למחשבה וליצירה אם אתה מגיע לעצמך, היא בלתי מוגבלת. אם התלמיד לא יבין, לא יפתח, אם בית האוצרות לא יפתח (זה משהו בתוך האני האמיתי) אז החיים הם חיצוניים ולא מביאים להבנה וידע אפילו אם יש מורה אמיתי. האמת לא בחוץ אלא בפנים, בתוכנו ולא תמצאו אותה כשתלכו בחיצוניות.
                </p>
                <p class="article-text">&nbsp;
                    גם כשאנו ישנים הזמן ממשיך. את הזמן האמיתי, אפשר להבין רק מתוך האני האמיתי. אין זמן מחוץ לאני האמיתי. הזמן הוא אישי שלנו, אין זמן אחר. הזמן עובר גם אם אנחנו לא מגיעים לאני האמיתי. אבל אם נבין את הזמן לא נבזבז אותו יותר - אם נגיע לאני האמיתי.
                </p>
                <h4 class="fw-bold fst-italic mb-1">להגיע:</h4>
                <p class="article-text">&nbsp;
                    האני האמיתי מכוסה, קבור, צריך לעורר אותו לחיים.
                </p>
                <p class="article-text">&nbsp;
                    אם תגיע לאני האמיתי, כל השקפת העולם שלך תהיה יצירתית, אתה לא תהיה סטטי, כל דבר שתראה או תעשה יהיה מיד מנוף לרגע הבא, החדש. לא תהיה כמו רוב האנשים הכבולים כיוון שלא הגיעו למחשבה המקורית האמיתית שלהם. רובנו נמצאים וחיים אחרי הזמן, לא חיים את החדש. האני האמיתי מכוסה. לא בא לידי ביטוי, כמו שהאינטלקט בא. אם לא מתאמנים אין אחדות בין הנפש לגוף וההפרדה הזו קשה לנו נורא. עושה לנו צרות רבות. קשה להיות מאושר עם לא מאחדים את הגוף והנפש בזה-זן. ההרמוניה זו מאחדת את הכל. צריך להיות אחד. לא רגל בנפרד ויד בנפרד וגוף בנפרד. מה שחשוב הוא הקשר מבפנים בין כל החלקים והדברים של האדם. הקשר מבפנים שמחזיק את הכל ביחד. כשהכל מתאחד מבפנים יש לנו מקורות אנרגיה עצומים. אנרגיה אין-סופית יש בבן-אדם ואנחנו לא מגיעים אל המקורות האלו. לכן חייבים לאחד את כל הדברים שבתוכנו והזה-זן הוא הדרך הישירה לכך.
                </p>
                <p class="article-text">&nbsp;
                    להבין את שוֹבּוֹגֶנְזוֹ זה לשבת זה-זן.
                </p>
                <p class="article-text">&nbsp;
                    אנשים יוצרים את העבודה המיותרת. זה לא מביא להם אושר. הם מיצרים אין-סוף של עבודה ודאגה. החוכמה זה לא להביא לעולם דברים מיותרים. יש כל כך הרבה דברים מיותרים העומדים בדרך לדרך האמיתית.
                </p>
                <p class="article-text">&nbsp;
                    אם תמרוד בכל השקרים, ותרצה להגיע באמת לעצמך, אתה תפרוץ את כל הכבלים.
                </p>
                <p class="article-text">&nbsp;
                    בטבע של האדם טבוע המרד גם כשהוא לא מודע לו.
                </p>
                <p class="article-text">&nbsp;
                    בזן, האדם הוא טוב, אנושי, הומני. לא כמו שיש הרבה תיאוריות שטוענות שהאדם רע, מפלצתי. האדם הוא טוב ביסודו ויש בו יסוד אלוהי.
                </p>
                <p class="article-text">&nbsp;
                    ברגע שאתה מוצא את האני האמיתי, אתה פורץ את המעגל של אוכלים ונאכלים של הטבע, את המעגל של העבדות. אתה יוצא לחופשי.
                </p>
                <h4 class="fw-bold fst-italic mb-1">התגברות:</h4>
                <p class="article-text">&nbsp;
                    אנחנו פרוצים לכל עבר. בזה-זן מתגברים על אבני הנגף. כל הקשיים נמצאים בתוכנו, כל המגבלות. כשאנו מתגברים עליהם אנחנו מוגנים עטופים ומוגנים מכל הפגעים. קשה להבין את זה רק מדיבורים. אבל זה כך. צריך אמונה שמתבטאת באימונים. אז ורק אז אפשר להגיע ולהבין, אחרת מאד קשה.
                </p>
                <p class="article-text">&nbsp;
                    לגבי הרצון החזק להגיע לעצמך ולהשלים את הדרך. הרצון שדוֹגֶן חושב שהוא הבסיס להכל - פיתוח של הנפש המחפשת את הדרך, או התעוררות הרצון להארה. על רצון זה שעוזר לנו לעמוד מול הלחץ והקשיים שמפעיל העולם והאנשים אומר דני: אתה בונה את הרצון הזה. מה אתה חושב שמקבלים אותו מתנה? בונה אותו בזה-זן.
                </p>
                <h4 class="fw-bold fst-italic mb-1">הגנה:</h4>
                <p class="article-text">&nbsp;
                    באימונים אדם יכול לעבור דברים קשים, הוא לפעמים צריך הגנה מפני העולם. לכן ביפן יש מנזרים, והמנזר מגן עליהם והם לא חשופים. כאן אין לנו היכן להתחבא, לכן אנחנו צרכים למצוא את עצמנו בתוך החברה באימונים יום יומיים.
                </p>
                <p class="article-text">&nbsp;
                    מיהו חבר אמיתי, בזמן צרה, כשאתה חלש, לא ינצל אותך, אבל חבר לא אמיתי, כן ינצל. יש הרבה קשרים שאין להם ערך, סתם הרגלים, מתנתקים מהם. אבל לא צריך לפחד, אדם שעובד על עצמו מתפתחים בו האומץ, הקרביות, כח, ויצירתיות והוא יודע לאט לאט לשמור על עצמו, הוא נעשה חזק. אתה נעשה כל כך חלק, שלם, עגול כמו כדור, כך שאף דבר לא יכול להיתפס בך, ללא נקודות תורפה.
                </p>
                <h4 class="fw-bold fst-italic mb-1">ריפוי והמשכיות:</h4>
                <p class="article-text">&nbsp;
                    הרָנְדוֹרִי והזה-זן מרפאים אותנו, כל יום אנחנו נעשים יותר בריאים אם אנחנו מתאמנים. מי שלא לומד נשאר במקום. מי שלומד ומבין, מתקדם. לא נרדם ולא נשאר כמו שהיה אתמול.
                </p>
                <p class="article-text">&nbsp;
                    בזן ובג'וּדוֹ חשוב לצאת מהר. חשוב מיד לקום ולשחרר את הרגליים. אפילו אם את מרגישה שאת רוצה לשבת עוד, חשוב לקום ולחנך את עצמך לעבור ממצב למצב. לילדים במיוחד מאוד קשה לעבור ממצב למצב - למשל להפסיק לשחק וללכת לאכול, אבל, בשביל להתקדם צריך ללמוד להפסיק, ולעבור למשהו אחר, ולהמשיך את החיים. החיים לא מסכימים שתגידי להם שאת רוצה עוד. הם ממשיכים. הם לא מחכים לך. זה טוב גם בשביל הלימודים לעבור מדבר לדבר, ממצב למצב. לעבור כמו בזן - ואם את מרגישה שזה לא זה - את כנראה לא מוכנה. בבית שלך אף אחד לא אומר לך מה לעשות, אבל צריך ללמוד להיות כבר עכשיו מהיר כמו ברק, ולהיות ער למשהו אחר שמתרחש, לקום כמו ברק ולהמשיך את החיים (הקרב). זה מחנך אותך. אימוני הזן הם לא ישיבה בבית קפה בו את שותה קפה בנינוחות.
                </p>
                <h4 class="fw-bold fst-italic mb-1">זמן:</h4>
                <p class="article-text">&nbsp;
                    זן קשור בזמן. שום דבר לא מנותק מהזמן. הזמן זורם במהירות אבל הרבה פעמים אנחנו מנותקים, לא קשורים לזמן, אנחנו לא מוכנים לזמן המהיר, אנחנו הרבה יותר איטיים מהזמן. אף אחד לא יכול לעצור את הזמן. אם את הולכת בקצב שלך אז גם הלמידה שלך וההתפתחות היא בקצב שלך, אבל כדי ללמוד את העולם צריך להיות בקצב של העולם. צריך להמשיך (גם כשכואב)
                </p>
                <p class="article-text">&nbsp;
                    אנשים עדינים, אבל צריך גם לסבול קצת. לא מגיעים רחוק אם על כל דבר אומרים לא נעים, לא יכול.
                </p>
                <h4 class="fw-bold fst-italic mb-1">ללא כוח:</h4>
                <p class="article-text">&nbsp;
                    אשליות הן ללא סוף. צורת הלימוד של הזן חותכת אותן. את המחשבות שאין להן סוף ושקשה לעצור אותן. לא בכוח. אבל אם נמשיך את האשליות - המחשבות שבאות ושאינך יכולה להפסיק אותן, ימשיכו ללא הפסק עד הסוף.
                </p>
                <p class="article-text">&nbsp;
                    לקום זה מאוד עדין, לך זה נדמה שזה בכוח. את היית כמו בתוך שינה ולך זה "נדמה" שזה בכוח ולא בזמן המתאים.
                </p>
                <h4 class="fw-bold fst-italic mb-1">הכוח הפנימי:</h4>
                <p class="article-text">&nbsp;
                    החיים הפנימיים שרוצים להשיג בזה-זן - זה הדבר הכי חשוב בחיים, אז אין מה לפחד יותר מכלום, אפשר לקבל סוכרת וכד, אבל הכוח הפנימי נותן לנו לעמוד בפני כל מה שקורה. אם אין כח, אנחנו נופלים ומתמוטטים. רוח חזקה לגייס לעצמנו כוח עצום, עבודה, ועוד עבודה, ללבות את הגחלים. גזע עץ אחד נכבה, תשים מספר גזעים/זרדים והם דולקים. יש אוויר. הזה-זן זה הרוח המלבה את האש של החיים. הרוח שנותנת לנו לעמוד וכוח חיים.
                </p>
                <h4 class="fw-bold fst-italic mb-1">עיוורון:</h4>
                <p class="article-text">&nbsp;
                   תאמנים ברציפות, החשיבה משתנה לכיוון של חשיבה חיובית, יוצרת. תראי אהבה, יצירה, הכל ישנו לידך, רק אנחנו לא רואים את זה, אנחנו עיוורים אבל לאט לאט, ע"י שתתאמני תתחילי לראות, תגברי על הכאבים שיש לך, תתעלי עליהם, תתגברי על החיים שמושכים אותך למטה מעצמך, מהחברה, מהתורשה, הרבה דברים שעליהם צרכים להתעלות. לקחת את הדברים בקלות, להיות קלים, בגוף ובנשמה, ולצבור את הכוח. לומדים את זה, כיוון שאם לא, אז תמיד נשארים כבדים.
                </p>
                <h4 class="fw-bold fst-italic mb-1">איחוד:</h4>
                <p class="article-text">&nbsp;
                    ברגע שאתה חודר לאני האמיתי שלך, אתה יכול להתאחד עם הכל, להבין את זה ולהיות את זה. וגם שאין אגו בכל הישויות ואז אתה מתאחד עם כל הדברים. זה האושר והשמחה. מה שמפריע זה שאנחנו לא יכולים להתאחד עם כל הדברים. לא מרגישים את הקשר בין כל הדברים, ולא מרגישים את הזמן.
                </p>
                <p class="article-text">&nbsp;
                    הזמן הוא מסביבנו, מתחת לעקבים שלנו, אך אנחנו לא מתאחדים איתו. כל אחד רוצה להיות חופשי, לא להיות סגור וכבול בתוך עצמו. לצאת לחופש. מתחילת האנושות זהו היסוד והרצון של כל אדם אפילו אם הוא לא יודע אותו, לא להיות כמו פְּרוֹמֵתֵאוּס הכבול. להשתחרר להיות חופשי. זה יסוד הכל האושר והאהבה.
                </p>
                <h4 class="fw-bold fst-italic mb-1">אמונה:</h4>
                <p class="article-text">&nbsp;
                    לפעמים לאחר הישיבה, בגלל הקשיים שיש לנו מבפנים, אנו נופלים קצת ברוחנו. הנפש היא כמו גחלים במדורה, הן צריכות רוח, אחרת הגחלים דועכות ואנחנו נופלים ברוחנו. במצבים כאלו, אנו מאמינים שאין לנו מזל, אנחנו לא מאמינים בכוחנו, דפרסיבים, מחשבות קשות מציפות אותנו חשדנות, האשמה, חשש. על כל אלו אנו צרכים לגבור. הגחלים צריכות להמשיך לבעור. צריך להפוך להיות אוניברסלי. העולם מחכה לנו שנשתחרר מהכבלים ונוכל לעזור לו. ע"י שיפור היכולת השכלית והגופנית ניתן להיות הרבה דברים לאין סוף, החברה זקוקה לנו. צריך להתגבר על המכשולים הללו.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

