<!-- Hero Start -->
<app-testimonial-hero></app-testimonial-hero>
<!-- Hero End -->

<!-- Testimonial Start -->
<div class="container-fluid p-0" style="margin: 90px 0;">
    <div class="row g-0">
        <div class="col-lg-6" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="/assets/img/testimonial.jpg" alt="מתאמנים בדוג'ו של נטליה" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-6 bg-dark" dir="rtl">
            <div class="px-4 pt-4">
                <h4 class="text-primary">ממליצים</h4>
                <h1 class="display-3 text-light mb-0">מה אומרים המתאמנים</h1>
            </div>
            <div class="owl-carousel testimonial-carousel px-4 pb-4" id="testimonials-list">
                <div class="testimonial-item">
                    <p class="fs-4 fw-normal text-light mb-4">
                        <i class="fa fa-quote-left text-primary me-3"></i>נטליה מורה מעולה, קשובה, רגישה ומקצועית מאוד. מאמנת בחסד עליון!
                        האימונים מגוונים ומהנים. אני מגיעה לכל אימון בחשק רב ובהתלהבות. 
                        <br> ממליצה בחום!
                    </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="/assets/img/testimonial-1.jpg" alt="סיגלית כהן - מתאמנת בדוג'ו">
                        <div class="ps-4">
                            <h5 class="text-light">סיגלית כהן</h5>
                            <span class="text-secondary">מתאמנת</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-4 fw-normal text-light mb-4">
                        <i class="fa fa-quote-left text-primary me-3"></i>לנטליה הגעתי אחרי שבע שנים רצופות של כאבי גב כרוניים חזקים ויומיומיים. 
                        אחרי שלושה חודשים בלבד של עבודה עם נטליה, הכאב פחת משמעותית והצלחתי לחזור לשגרה כמעט מלאה. 
                        בנוסף, נטליה היא אדם מקסים וסבלני והאימונים כיפים ומהנים.
                        <br> ממליצה בחום!
                    </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="/assets/img/testimonial-2.jpg" alt="משה ברזילי - מתאמן בדוג'ו">
                        <div class="ps-4">
                            <h5 class="text-uppercase text-light">משה ברזילי</h5>
                            <span class="text-uppercase text-secondary">מתאמן</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-4 fw-normal text-light mb-4">
                        <i class="fa fa-quote-left text-primary me-3"></i>האימונים עם נטליה הם חוויה מעצימה ומהנה. היא משלבת באופן מרתק בין טכניקות לחימה לבין חיזוק הגוף והנפש.
                        בכל אימון לומדים משהו חדש, מרגישים את השיפור ביכולות הגופניות והמנטליות, ויוצאים עם אנרגיות מחודשות.
                        <br>מומלץ בחום לכל מי שמחפש אימון מאתגר ומרגש!
                    </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="/assets/img/testimonial-3.jpg" alt="לוי אשכול - מתאמן בדוג'ו">
                        <div class="ps-4">
                            <h5 class="text-uppercase text-light">לוי אשכול</h5>
                            <span class="text-uppercase text-secondary">מתאמן</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->