<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">מה הוא זן?</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    04 יוני 2025
                </p> 
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-book fs-5"></i>
                    &nbsp;
                    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5" aria-hidden="true"></i>
                    &nbsp;
                    דני וקסמן ועופר כהן
                </p> 
                <p class="article-text">&nbsp;
                    המורה שלי פרופ&#39; מאסונאגה ריהו ענה: &#34;זן הוא תרגול העוזר לכל אדם לחדור לאני האמיתי שלו על-ידי
                    ישיבה שלובת רגליים (זה-זן: za-zen) ולהפעיל את האני האמיתי הזה בחיי היום-יום&#34;.
                    הגדרה זו אינה מקיפה את כל היבטי הזן, אבל היא כוללת את היסודות החשובים. שלוש הנקודות הבסיסיות בהגדרה הן:
                </p>
                <div class="article-text">
                    <ol type="1">
                        <li>תרגול הזה-זן</li>
                        <li>חדירה לאני האמיתי</li>
                        <li>הפעלה של האני האמיתי בחיי היום-יום</li>
                    </ol>
                </div>
                <p class="article-text">&nbsp;
                    זן הוא דרך ישירה למצוא את עצמך. בזן נסוגים מהחוץ אל הפנים, אל האני האמיתי שלנו. לאחר שחודרים לאני האמיתי באמצעות אימוני הזה-זן, מגיעים לאושר מבפנים,
                    מבונים מהו הזמן האמיתי ומה ייעודנו בחיים.
                    כשנמצאים קצת לפני הסטורי, כלומר באזור ההארה, חוזרים לשרת את החברה האנושית.</p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start -->
            <app-addcomment></app-addcomment>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->