<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">מה הוא זן?</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    04 יוני 2025
                </p> 
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-book fs-5"></i>
                    &nbsp;
                    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5" aria-hidden="true"></i>
                    &nbsp;
                    דני וקסמן ועופר כהן
                </p> 
                <p class="article-text">&nbsp;
                    המורה שלי פרופ&#39; מאסונאגה ריהו ענה: &#34;זן הוא תרגול העוזר לכל אדם לחדור לאני האמיתי שלו על-ידי
                    ישיבה שלובת רגליים (זה-זן: za-zen) ולהפעיל את האני האמיתי הזה בחיי היום-יום&#34;.
                    הגדרה זו אינה מקיפה את כל היבטי הזן, אבל היא כוללת את היסודות החשובים. שלוש הנקודות הבסיסיות בהגדרה הן:
                </p>
                <div class="article-text">
                    <ol type="1">
                        <li>תרגול הזה-זן</li>
                        <li>חדירה לאני האמיתי</li>
                        <li>הפעלה של האני האמיתי בחיי היום-יום</li>
                    </ol>
                </div>
                <p class="article-text">&nbsp;
                    זן הוא דרך ישירה למצוא את עצמך. בזן נסוגים מהחוץ אל הפנים, אל האני האמיתי שלנו. לאחר שחודרים לאני האמיתי באמצעות אימוני הזה-זן, מגיעים לאושר מבפנים,
                    מבינים מהו הזמן האמיתי ומה ייעודנו בחיים.
                    כשנמצאים קצת לפני הסטורי, כלומר באזור ההארה, חוזרים לשרת את החברה האנושית.
                </p>
                <p class="article-text">&nbsp;
                    איך לשבת זָה-זֵן? מה זה למעשה זָה-זֵן? תשובות לשאלות האלו ניתן למצוא ב<a href="http://localhost:4200/sensei/articles/zen/fukan-zazengi">פוּקָאן-זָה-זֵן-גִי (הנחיות לישיבה בזה-זן)</a>, יצירה קונקרטית קצרה בעלת עומק רב. היצירה נכתבה ע"י מורה הזֵן דוֹגֶן לפני 800 שנה והפכה להנחיה הראשית לזה-זן של כל מורי הסוֹטוֹ-זֵן. זהו טקסט ארוך שמרכיב ומפרט את ההנחיות בפוּקָאן-זָה-זֵן-גִי. ניתן למצוא ביצירה זו תובנה עמוקה וחוכמת זן של קֶיְזָאן שניתנת למען כל מי שרוצה לתרגל זה-זן ולמצוא את האני האמיתי.
                </p>
                <h4 class="fw-bold fst-italic mb-1">כיצד אפשר להתאמן בעולם המודרני, כשהאדם עסוק מאוד ואין לו זמן?</h4>
                <p class="article-text">&nbsp;
                    כל אחד לאחר שקם בבוקר ורחץ את פניו, יכול לשבת חמש עד עשר דקות בישיבת זה-זן. בסיום ישיבת הזה-זן אנו חושבים על סדר היום ויוצאים לחיי היום-יום.
                </p>
                <h4 class="fw-bold fst-italic mb-1">כיצד יושבים זה-זן?</h4>
                <p class="article-text">&nbsp;
                    ושבים במקום שקט (חדר שקט או מתחת לעץ) ברגליים שלובות על כרית, כך שהאגן מוגבה מעט מהריצפה. אפשר לשבת בחצי לוֹטוּס (כף רגל אחת מונחת על ירך הרגל הנגדית) או בלוֹטוּס שלם (שתי כפות הרגלים מונחות מוצלבות זו על הירך הנגדית של זו). מי שאינו יכול לשבת כך, יכול לשבת ישיבה מזרחית או בכיסא. מניחים את הידיים על הרגליים קרוב לבטן התחתונה, כך שגב יד אחת מונח על כף היד השנייה, וקצות האגודלים נפגשים. נעים בתנועות עדינות וקלות לצדדים, קדימה ואחורה, כדי למצוא את הנקודה הנוחה בישיבת הזה-זן. כשמגיעים לנקודה הנוחה, שבה נעים ואין מתיחות בגב, עוצרים ויושבים זקופי גב. נושפים את האוויר דרך האף פעם אחת או פעמיים, ולאחר מכן נושמים באופן סדיר דרך האף. נותנים למחשבות לעבור. לא נלחמים בהן, ולא מעודדים אותן. רק להיות מעבר למחשבות. לאחר שמסיימים את הישיבה, נעים שוב קלות לצדדים, משחררים את כפות הרגליים, קמים לעמידה ללא חיפזון ועושים קִינְהִין.
                </p>
                <h4 class="fw-bold fst-italic mb-1">מהי הליכת קִינְהִין?</h4>
                <p class="article-text">&nbsp;
                    זו דרך אימון משלימה לזה-זן, המתבצעת שקמים מישיבת זה-זן. מטרת הקינהין היא להרגיע ולהשקיט את הנפש ולשחרר את הרגליים מהמתיחות או מהעייפות שאולי נוצרו בזה-זן. בישיבת הזה-זן יש תנועה בלי לנוע, ואילו הליכת הקינהין היא זה-זן בתנועה. גם ג'וּדוֹ הוא זה-זן בתנועה. חשוב מאוד ללמוד זה-זן בתנועה. הקינהין מתבצע בהליכה בחצאי צעדים אטיים במעגל עד להשלמת סיבוב אחד בכיוון מחוגי השעון. מבצעים נשימה בכל חצי צעד. כף יד ימין עוטפת את כף יד שמאל, ושתיהן מונחות בנוחות במרכז החזה בעת ההליכה.
                </p>
                <h4 class="fw-bold fst-italic mb-1">מדוע חשובה הרציפות באימונים?</h4>
                <p class="article-text">&nbsp;
                    אם אין רציפות, אין המשכיות. החיים הפנימיים הם כמו גחלים. אם אין רוח שתפיח בהם חיים, הם דועכים. לכן חשוב מאוד לתרגל זה-זן כל יום, גם אם לפעמים זמן הישיבה קצר מהרגיל.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->