<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">הופעת הקוֹאָן בחיי היום יום</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    {{ articleDate | date:'d בMMMM yyyy':'':'he' }}
                </p> 
                <p class="article-text">&nbsp;
                    לפי גישת הסוֹטוֹ זֵן, אתה צריך לפתור את הקשיים והבעיות שלך בדרך אל האמת בחיי היום יום. לבעיות אלו קוראים בגישת הסוֹטוֹ זֵן קוֹאָנִים. לכל אחד קואן שלו בהתאם לדרגת ההתפתחות שלו. מהו הקואן שלו? הקואן הוא כיצד לשבור את המעצורים, כיצד לפרוץ את המגבלות, להתגבר על כל המכשולים, על אבני הנגף בדרך לאני האמיתי. לא על מנת להשיג פרנסה, בחורות, לכתוב בצורה יפה, וכדומה.
                </p>
                <p class="article-text">&nbsp;
                    למה שהיא לא תופיע, הבעיה? הרי זה אתה. אתה בנוי מבעיות. אדם בנוי מעיכובים. מה מפריע לאדם להגיע לעצמו? הבעיות שלו. האני האמיתי מצוי בפנימיותנו, רדום, שקוע, מכוסה. כל אחד והמידה המסוימת הנוכחית בה האני האמיתי שלו שקוע וישן. לאט לאט הוא עולה על פני השטח כמו אדם המתעורר משינה עמוקה. כאילו שאנו ישנים כל הזמן. רדומים. אנחנו חיים אך האני האמיתי שלנו שקוע בגלל הרבה עיכובים. בלי אימון ומיקוד וריכוז אתה לא תבחין בבעיה ולעולם לא תגיע לעצמך.
                </p>
                <p class="article-text">&nbsp;
                    זה לא סתם שאתה מחפש חידות במציאות, מחפש בעיות רק כדי לפתור אותן. הופעת הקואן שלך בחייך היום, תלויה בדרגה של ההתפתחות הנוכחית שלך וברציפות האימונים. איש הזן לא משאיר עקבות. אין צורך להוסיף או לגרוע דבר ממה שנאמר או נעשה באותה עת. התנועות שלו כל כך מושלמות, מתאימות למצב, המחשבות חסכוניות, מושלמות נמשכות, הוא קרוב מאד לשלמות ולכן הוא לא משאיר עקבות. צורה ללא צורה זו החוכמה. בזן הכל מתרחש בפנים, אין צורות, אין וָאזוֹת, יש רק את העבודה הפנימית ודממת (Stillness) המַיְנְד. (FUDO)
                </p>
                <p class="article-text">&nbsp;
                    מורה רואה אותך מבחינה אובייקטיבית. לתלמיד קשה לראות את עצמו. התלמיד רואה את עצמו דרך המורה, וגם דרך החברים האחרים בדוֹג'וֹ. אלו שכבר מתחילים לראות את עצמם הם מאד מתקדמים בדרך לאני האמיתי. כשהתלמיד מתחיל להבין ורואה את עצמו, הוא יודע מה צריך לשפר ומשפר את עצמו ויודע מה צריך להוריד, והיכן בדיוק צריך להתייעל. בד"כ אדם מתחיל לא רואה את הקואן שלו ולא מגלה אותו! עליו להתפתח ולהתקדם באמצעות אימונים יום יומיים, כל יום כל פעם בלי להפסיק, בלי להתייאש. לכן האימונים האישיים והאימונים בדוֹג'וֹ כל כך חשובים.
                </p>
                <p class="article-text">&nbsp;
                    כשהקואן מתגלה לנו אז אנחנו כבר יותר אובייקטיביים, פחות תלותיים, יש יותר קשר בין כל הדברים. אנחנו יכולים להיות אובייקטיבים יותר בחיים, בקרב, וגם באימונים כי אנחנו מבינים יותר מה נכון ומה לא נכון במצב נתון, מה צריך ומה לא צריך לעשות. אנחנו עושים פחות תנועות מיותרות.
                </p>
                <p class="article-text">&nbsp;
                    התגלות הקואן שלנו בחיי היום יום לא רק משקפת את מידת ההתפתחות שלנו וההתקדמות באימונים, אלא גם מסייעת לנו להתקדם יותר ולהתפתח יותר. מדוע? כי מתפתחת בנו היכולת להבחין בנקודות התורפה בתנועות ובמעשים הלא נכונים והלא מדויקים. אנחנו משוחררים לראות את האמת.
                </p>
                <p class="article-text">&nbsp;
                    חשוב להדגיש כי כשמופיע הקואן בחיים שלך אתה לא נתקע. כאשר אנחנו מתאמנים על פי הדרך של הסוטו זן איננו מתעכבים על הקואנים. הזמן עובר ויש כבר משהו חדש. הרגע החדש כבר הופיע. כל יום מתחדש משהו, ויש בו את הבעיה שלו ואתה צריך לעבור את זה ולהתקדם עד שהגעת לסָטוֹרִי. גם אחר כך אתה ממשיך לשבת זה-זן כל יום.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

