
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">נינג'יטסו – אומנות לחימה להגנה עצמית</h5>
                        <h1 class="display-2 text-white text-uppercase mb-md-4"> 
                            הגנה עצמית במינימום הפעלת כוח
                            </h1>
                        <a href="contact" class="btn btn-light py-md-3 px-md-5 me-3" >יצירת קשר</a>&nbsp;
                        <a href="workouts" class="btn btn-primary py-md-3 px-md-5" >להצטרפות לאימון ניסיון</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">נינג'יטסו – אומנות לחימה להגנה עצמית</h5>
                        <h1 class="display-2 text-white text-uppercase mb-md-4">                            
                            להשתמש בעוצמה שלך בתבונה
                        </h1>
                        <a href="contact" class="btn btn-light py-md-3 px-md-5 me-3" >יצירת קשר</a>&nbsp;
                        <a href="workouts" class="btn btn-primary py-md-3 px-md-5" >להצטרפות לאימון ניסיון</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-3.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">נינג'יטסו – אומנות לחימה להגנה עצמית</h5>
                        <h1 class="display-2 text-white text-uppercase mb-md-4">                            
                            לגלות את העוצמה הפנימית שלך
                        </h1>
                        <a href="contact" class="btn btn-light py-md-3 px-md-5 me-3" >יצירת קשר</a>&nbsp;
                        <a href="workouts" class="btn btn-primary py-md-3 px-md-5" >להצטרפות לאימון ניסיון</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-4.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">נינג'יטסו – אומנות לחימה להגנה עצמית</h5>
                        <h1 class="display-2 text-white text-uppercase mb-md-4">                            
                            ללמוד את עצמך ולהתקדם ליעדים שלך
                        </h1>
                        <a href="contact" class="btn btn-light py-md-3 px-md-5 me-3" >יצירת קשר</a>&nbsp;
                        <a href="workouts" class="btn btn-primary py-md-3 px-md-5" >להצטרפות לאימון ניסיון</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">קודם</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">הבא</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<app-about></app-about>
<!-- About End -->


<!-- Programe Start -->
<div class="container-fluid programe position-relative px-5 mt-5" style="margin-bottom: 135px;">
    <div class="row g-5 gb-5">
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <!--<i class="flaticon-bodybuilding display-2 text-primary"></i>-->
                <img src="../assets/lib/flaticon/png/001-martial-arts.png" alt="עוצמה">
                <h3 class="text-uppercase my-4">עוצמה</h3>
                <p>להכין את הגוף שלך ללחימה, לדעת איך להגן על עצמך מול כוח גדול בהפעלת מינימום כוח באמצעות תרגול מעשי של אגרופים ובעיטות, מבעיטה סינית ועד בעיטת קארטה</p>
                <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <img src="../assets/lib/flaticon/png/007-excercise.png" alt="איזון">
                <!--<i class="flaticon-barbell display-1 text-primary"></i>-->
                <h3 class="text-uppercase my-4">איזון</h3>
                <p>לנוע, להתייצב ולהתחטב. 
                    לגלות את עצמך דרך התנועה, לשפר את היציבה, את העמידה, את הדרך בה את מבצעת פעולות יומיומיות. ללמוד טכניקות המלמדות את הגוף איזון בעמידה, בהליכה ובקרב
                    </p>
                 <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <img src="../assets/lib/flaticon/png/006-martial-arts.png" alt="סיבולת">
                <!--<i class="flaticon-bodybuilding display-1 text-primary"></i>-->
                <h3 class="text-uppercase my-4">סיבולת</h3>
                <p>אולי הדבר החשוב ביותר שתצטרכי ללמוד... לספוג, לסבול, להתאפק. ביחד נפתח יכולת עמידה במצבי לחץ, אלימות ולחץ נפשי. נפתח סיבולת לב ריאה לצד סיבולת נפשית ועמידות איתנה</p>
                 <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <img src="../assets/lib/flaticon/png/004-judo.png" alt="ביטחון">
                <!--<i class="flaticon-bodybuilding display-1 text-primary"></i>-->
                <h3 class="text-uppercase my-4">ביטחון</h3>
                <p>בניית עמוד שדרה מנטלי וחיזוק הביטחון העצמי והאמונה ביכולות שלך ובעצמך. להיות בטוחה בהחלטות שלך, בתנועות, ביכולת להצליח ולהכריע את היריב</p>
                 <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <img src="../assets/lib/flaticon/png/003-yoga.png" alt="שקט פנימי">
                <!--<i class="flaticon-bodybuilding display-1 text-primary"></i>-->
                <h3 class="text-uppercase my-4">שקט פנימי</h3>
                <p>להתחבר לתודעה פנימית וליצור איזון בין הגוף לנפש. עובדים על פי שיטת let go ומבצעים מדיטציות לצד הרחבת התודעה הפנימית שלנו. לומדים להקשיב ולהאזין מתוך שקט פנימי שיוביל לתנועה נכונה</p>
                 <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="bg-light rounded text-center p-5">
                <img src="../assets/lib/flaticon/png/001-taekwondo.png" alt="רוח הלוחם">
                <!--<i class="flaticon-bodybuilding display-1 text-primary"></i>-->
                <h3 class="text-uppercase my-4">רוח</h3>
                <p> לחשוף את הלוחם שבתוכך, לפתח את רוח הלוחם היודעת לא לוותר, לעמוד על שלה בכל מצב ובכל זמן. ליפול ולקום כל פעם מחדש מבלי להרים ידיים</p>
                 <!--<a class="text-uppercase" href=""><i class="bi bi-arrow-left"></i>&nbsp;קרא עוד</a>-->
            </div>
        </div>
        <div class="col-lg-12 col-md-6 text-center">
            <h1 class="text-uppercase text-light mb-4">הצטרף לאימון ניסיון ללא עלות וללא התחייבות</h1>
            <a href="https://chat.whatsapp.com/L247WgMIVDE5l0KzQG2AjS" class="btn btn-primary py-3 px-5">רוצה להצטרף</a>
        </div>
    </div>
</div>
<!-- Programe Start -->


<!-- Class Timetable Start -->
<app-workouts></app-workouts>
<!-- Class Timetable Start -->


<!-- Facts Start -->
<div class="container-fluid bg-dark facts p-5 my-5">
    <div class="row gx-5 gy-4 py-5">
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-star fs-4 text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">שנות ניסיון</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">21</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-users fs-4 text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">מאמנים מוסמכים</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">6</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-check fs-4 text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">דרגת דן</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">8</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-mug-hot fs-4 text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">אימונים בשבוע</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">5</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->


<!-- Team Start -->
<app-team></app-team>
<!-- Team End -->





<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">הבלוג</h5>
        <h1 class="display-3 text-uppercase mb-0">כל מה שרציתם לדעת על נינג'ו  טסו ולא העזתם לשאול</h1>  
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-1.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
                        <span>01</span>
                        <h6 class="text-light text-uppercase mb-0">January</h6>
                        <span>2045</span>
                    </div>
                    <a class="h5 text-uppercase text-light" href=""><h4>Sed amet tempor amet sit kasd sea lorem</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-2.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
                        <span>01</span>
                        <h6 class="text-light text-uppercase mb-0">January</h6>
                        <span>2045</span>
                    </div>
                    <a class="h5 text-uppercase text-light" href=""><h4>Sed amet tempor amet sit kasd sea lorem</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-3.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
                        <span>01</span>
                        <h6 class="text-light text-uppercase mb-0">January</h6>
                        <span>2045</span>
                    </div>
                    <a class="h5 text-uppercase text-light" href=""><h4>Sed amet tempor amet sit kasd sea lorem</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->