<h4 class="fw-bold fst-italic mb-1">זה-זן (Zazen)</h4>  
<p class="text-secondary  mb-3 font-weight-bold">
    <i class="fa fa-book fs-5"></i>
    &nbsp;
    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
    |
    &nbsp;
    <i class="fa fa-user fs-5" aria-hidden="true"></i>
    &nbsp;
    דני וקסמן ועופר כהן
</p>
<p>
    ישיבת הזה-זן, משמעו ישיבת האמת השלווה, היא הדרך הישירה להגיע לעצמך ולסטורי לפי הדרך של הסוטו-זן. 
    זוהי ישיבה ברגליים שלובות, תוך קבלת תמיכה לאגן באמצעות כרית. 
    העיקרון של הישיבה הוא להיות מעבר למחשבות ולא להתמקד בדבר. 
    המורה דני וקסמן והמורה שלו, פרופ' מסונגה רייהו, ממליצים לשבת כל בוקר חמש עד עשר דקות זה-זן. 
    דוגן כתב כיצד לשבת זה-זן בטקסט המקור פוקאן-זהזנגי, הנחיות לישיבה בזה-זן.
</p>
