<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">הבלוג</h5>
        <h1 class="display-3 text-uppercase mb-0">מאמרים מפורסמים</h1>  
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative text-center overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-zen-1.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-light font-weight-bold pe-3 me-3">
                        <span>21</span>
                        <h6 class="text-light font-weight-bold mb-0">אפריל</h6>
                        <span>2024</span>
                    </div>
                    <div class="text-center text-secondary border-end border-secondary pe-3 me-3">
                        <a class="h5 text-uppercase text-light" href="sensei/articles/zen/introduction"><h4>מה הוא זן?</h4></a>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative text-center overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-zen-1.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-light font-weight-bold pe-3 me-3">
                        <span>04</span>
                        <h6 class="text-light font-weight-bold mb-0">יוני</h6>
                        <span>2025</span>
                    </div>
                    <div class="text-center text-secondary border-end border-secondary pe-3 me-3">
                        <a class="h5 text-uppercase text-light" href="sensei/articles/zen/fukan-zazengi"><h4>הנחיות לישיבה בזה-זן (פוקאן-זה-זן-גי)</h4></a>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative text-center overflow-hidden rounded-top">
                    <img class="img-fluid" src="assets/img/blog-zen-1.jpg" alt="">
                </div>
                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                    <div class="flex-shrink-0 text-center text-light font-weight-bold pe-3 me-3">
                        <span>04</span>
                        <h6 class="text-light font-weight-bold mb-0">יוני</h6>
                        <span>2025</span>
                    </div>
                    <div class="text-center text-secondary border-end border-secondary pe-3 me-3">
                        <a class="h5 text-uppercase text-light" href="sensei/articles/zen/genjo-koan"><h4>הקואן בחיי היום יום (גֶנְג'וֹקוֹאָן)</h4></a>
                    </div>  
                </div>
            </div>
        </div>
</div>
<!-- Blog End -->