<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary px-5 mt-5">
    <div class="row gx-5">
        <div class="col-lg-4 col-md-6">
            <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-5">
                <h4 class="text-uppercase text-white mb-4">הצטרף אלינו</h4>
                <h6 class="text-uppercase text-white">תתעדכן כבר עכשיו על האימונים והסדנאות שלנו</h6>
                <form action="" class="needs-validation">
                    <div class="input-group" dir="ltr">
                        <input type="email" id="email" class="form-control border-white p-3" placeholder="השאר כתובת מייל כאן" required>                         
                        <button class="btn btn-dark" (click)="onSave()">הצטרף</button> 
                    </div> 
                </form>
            </div>
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-12 pt-5 mb-5">
                    <h4 class="text-uppercase text-light mb-4">בואו נהיה בקשר</h4>
                    <div class="d-flex mb-2">
                        <i class="bi bi-geo-alt text-primary me-2"></i>
                        <p class="mb-0">&nbsp;גן הידידים, אופקים, ישראל</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-primary me-2"></i>
                        <p class="mb-0">&nbsp;rikshidojo&#64;gmail.com</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-primary me-2"></i>
                        <p class="mb-0">
                            &nbsp;50-7003290
                            &nbsp;972+
                        </p>
                    </div>
                    <div class="d-flex mt-4">
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="https://www.facebook.com/profile.php?id=61556843273633"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="https://www.linkedin.com/in/natalia-gordon-7979514/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="https://www.instagram.com/ninjutsu_natalia_dojo_israel/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                    <h4 class="text-uppercase text-light mb-4">קישורים מהירים</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;דף הבית</a>
                        <a class="text-secondary mb-2" href="about"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;על עצמי</a>
                        <a class="text-secondary mb-2" href="workouts"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;יומן אימונים</a>
                        <a class="text-secondary mb-2" href="team"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;מאמנים</a>
                        <a class="text-secondary mb-2" href="testimonial"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;ממליצים</a>
                        <a class="text-secondary mb-2" href="blog"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;מאמרים</a>
                        <a class="text-secondary" href="contact"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;צור קשר</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                    <h4 class="text-uppercase text-light mb-4">קישורים שימושיים</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;דף הבית</a>
                        <a class="text-secondary mb-2" href="about"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;מי אנחנו</a>
                        <a class="text-secondary mb-2" href="workouts"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;יומן אימונים</a>
                        <a class="text-secondary mb-2" href="team"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;מאמנים</a>
                        <a class="text-secondary mb-2" href="testimonial"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;ממליצים</a>
                        <a class="text-secondary mb-2" href="blog"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;מאמרים</a>
                        <a class="text-secondary" href="contact"><i class="bi bi-arrow-left text-primary me-2"></i>&nbsp;צור קשר</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 py-lg-0 px-5" dir="ltr" style="background: #111111;">
    <div class="row gx-5">
        <div class="col-lg-8">
            <div class="py-lg-4 text-center">
                <p class="text-secondary mb-0">כל הזכויות שמורות 2024 &copy; <a class="text-light fw-bold" href="#">Bujinkan Ninjutsu - Natalia Dojo </a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="py-lg-4 text-center credit">
                <p class="text-light mb-0">נכתב על ידי נטליה גורדון
                </p>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-dark py-3 fs-4 back-to-top" (click)="scrollToTop($event)" *ngIf="isBackToTopVisible && isBrowser"><i class="bi bi-arrow-up"></i></a>