<h4 class="fw-bold fst-italic mb-1">בודהה (Buddha)</h4>  
<p class="text-secondary  mb-3 font-weight-bold">
    <i class="fa fa-book fs-5"></i>
    &nbsp;
    מתוך הספר זן שאלות ותשובות
    |
    &nbsp;
    <i class="fa fa-user fs-5" aria-hidden="true"></i>
    &nbsp;
    דני וקסמן
</p>
<p>
    מייסד הבודהיזם. לפי מסורת הזן, הזה-זן של המתאמנים בישיבהשלווה מבטא את המדיטציה של הבודהה ואת מצבו לאחר שהגיע להארה. לאחר שש שנות אימונים הגיע בודהה להארה, נהנה ממנה במשך שבועיים ולאחר לכן חדר לחיי היום יום ולימד בודהיזם במשך 45 שנה. 
</p>
