
<!-- Search Form Start -->
<div class="mb-5">
    <div class="input-group" dir="ltr">        
        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
        <input type="text" class="form-control p-3" placeholder="מילת מפתח" style="text-align: right;">
    </div>
</div>
<!-- Search Form End -->

<!-- Category Start -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4">זן בודיזם</h3>
    <div class="d-flex flex-column justify-content-start bg-dark rounded p-4">
        <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="sensei/articles/zen/introduction"><i class="bi bi-arrow-left text-primary me-2">&nbsp;</i>מה הוא זן?</a>
        <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="sensei/articles/zen/terms"><i class="bi bi-arrow-left text-primary me-2">&nbsp;</i>מילון מונחים</a>
        <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"><i class="bi bi-arrow-left text-primary me-2">&nbsp;</i>Web Development</a>
        <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"><i class="bi bi-arrow-left text-primary me-2">&nbsp;</i>Keyword Research</a>
        <a class="fs-5 fw-bold text-light text-uppercase" href="#"><i class="bi bi-arrow-left text-primary me-2">&nbsp;</i>Email Marketing</a>
    </div>
</div>
<!-- Category End -->

<!-- Recent Post Start -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4">מאמרים פופולריים</h3>
    <div class="bg-dark rounded p-4">
        <div class="d-flex overflow-hidden mb-3">            
            <img class="img-fluid flex-shrink-0 rounded-end" src="/assets/img/blog-1.jpg" style="width: 75px;" alt="">
            <a href="sensei/articles/zen/introduction" class="d-flex align-items-center bg-light rounded-start h5 text-uppercase p-3 mb-0">מה הוא זן?</a>            
        </div>
        <div class="d-flex overflow-hidden mb-3">
            <img class="img-fluid flex-shrink-0 rounded-end" src="/assets/img/blog-2.jpg" style="width: 75px;" alt="">
            <a href="" class="d-flex align-items-center bg-light rounded-start h5 text-uppercase p-3 mb-0">Sed amet tempor amet sit kasd sea lorem
            </a>
        </div>
        <div class="d-flex overflow-hidden mb-3">
            <img class="img-fluid flex-shrink-0 rounded-end" src="/assets/img/blog-3.jpg" style="width: 75px;" alt="">
            <a href="" class="d-flex align-items-center bg-light rounded-start h5 text-uppercase p-3 mb-0">Sed amet tempor amet sit kasd sea lorem
            </a>
        </div>
        <div class="d-flex overflow-hidden mb-3">
            <img class="img-fluid flex-shrink-0 rounded-end" src="/assets/img/blog-1.jpg" style="width: 75px;" alt="">
            <a href="" class="d-flex align-items-center bg-light rounded-start h5 text-uppercase p-3 mb-0">Sed amet tempor amet sit kasd sea lorem
            </a>
        </div>
        <div class="d-flex overflow-hidden">
            <img class="img-fluid flex-shrink-0 rounded-end" src="/assets/img/blog-2.jpg" style="width: 75px;" alt="">
            <a href="" class="d-flex align-items-center bg-light rounded-start h5 text-uppercase p-3 mb-0">Sed amet tempor amet sit kasd sea lorem
            </a>
        </div>
    </div>
</div>
<!-- Recent Post End -->

<!-- Tags Start -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4">מונחים חשובים</h3>
    <div class="d-flex flex-wrap m-n1">
        <a href="sensei/articles/zen/terms/an-ataman" class="btn btn-dark m-1">אן-אטאמן</a>
        <a href="sensei/articles/zen/terms/buddha" class="btn btn-dark m-1">בודהה</a>
        <a href="sensei/articles/zen/terms/bodhidahrma" class="btn btn-dark m-1">בודהידרמה</a>
        <a href="sensei/articles/zen/terms/bodhisatava" class="btn btn-dark m-1">בודהיסטווה</a>
        <a href="sensei/articles/zen/terms/dojo" class="btn btn-dark m-1">דוג'ו</a>
        <a href="sensei/articles/zen/terms/zazen" class="btn btn-dark m-1">זה-זן</a>
        <a href="sensei/articles/zen/terms/zenki" class="btn btn-dark m-1">זנקי</a>
        <a href="sensei/articles/zen/terms/mengu" class="btn btn-dark m-1">מנג'ו</a>
        <a href="sensei/articles/zen/terms/soto-zen" class="btn btn-dark m-1">סוטו-זן</a>
        <a href="sensei/articles/zen/terms/sunyata" class="btn btn-dark m-1">סוניאטה</a>
        <a href="ensei/articles/zen/terms/satori" class="btn btn-dark m-1">סטורי</a>
        <a href="sensei/articles/zen/terms/kinhin" class="btn btn-dark m-1">קינהין</a>
        <a href="sensei/articles/zen/terms/randori" class="btn btn-dark m-1">רנדורי</a>
        <a href="sensei/articles/zen/terms/jijiyuzamai" class="btn btn-dark m-1">גי'גי'ו-זהמאיי</a>
    </div>
</div>
<!-- Tags End -->

<!-- Plain Text Start -->
<div>
    <h3 class="text-uppercase mb-4">דברי המורה</h3>
    <div class="bg-dark rounded text-center text-light" style="padding: 30px;">
        <p>
            הנושאים והתכנים המובאים כאן נובעים ברובם מהדברים שנאמרו בשיחות זן עם התלמידים לאורך השנים המתבססים על המאמרים של המורה זן, דוגן ועל המאמרים של פופ' מאסונאגה רייהו. המאמרים נכתבו למען האנשים בארץ, כדי שיגלו בו דרך להבנת עצמם באמצעות הזה-זן (הישיבה השלווה). אני בטוח שאם האנשים בישראל יבינו את עצמם, ישתפר המצב במדינה ובכללותו בחיים האישיים, לרבות הכלכלה, יחסי אנוש והפוליטיקה, והחיים באזור יהיו קלים יותר.   
        </p>
        <a href="" class="btn btn-primary py-2 px-4">קרא עוד</a>
    </div>
</div>
<!-- Plain Text End -->