<h4 class="fw-bold fst-italic mb-1">אן-אטאמן (An-Ataman)</h4>  
<p class="text-secondary  mb-3 font-weight-bold">
    <i class="fa fa-book fs-5"></i>
    &nbsp;
    מתוך הספר זן שאלות ותשובות
    |
    &nbsp;
    <i class="fa fa-user fs-5" aria-hidden="true"></i>
    &nbsp;
    דני וקסמן
</p>
<p>
החידוש הגדול של בודהה. אטאמן, פירושו האני העליון. בודהה אמר שהדרך האמיתית הפוכה ושבכל הדברים אין אגו. בכדי להגיע לאנושיות אמיתית, לשחרור ולחופש, יש לבטל את האגו, לאחד את כל הדברים והישויות בעולם, ולא ליצור הפרדה בינהם.
</p>