<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">זֵן בחיי יומיום: גישת הסוֹטוֹ זֵן - תמצית שיטתי</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    {{ articleDate | date:'d בMMMM yyyy':'':'he' }}
                </p> 
                <p class="article-text">&nbsp;
                    מדוע לתרגל זָה-זֵן? הסיבה העיקרית היא למצוא את האני האמיתי. דוֹגֶן זֶנְגִ'י (1200-1253) שכתב את יצירת המופת שוֹבּוֹגֶנְזוֹ - העיניים והאוצר של החוק האמיתי, אמר בני אדם צרכים למצוא את עצמם באמצעות תרגול זָה-זֵן. פרופ' מָסוּנָגָה רֶיְהוֹ פיתח את רעיונותיו והתאימם לעידן המודרני ולימד שכל אחד, בבוקר, לאחר שהתעורר ורחץ את פניו, יכול וחייב לשבת זה-זן במשך 5-10 דקות, לחדור לאני האמיתי, לעורר ולהחיות אותו ולהפעילו בחי היומיום.
                </p>
                <p class="article-text">&nbsp;
                    המהות של אסכולת הסוֹטוֹ זֵן ושל תורתו של דוֹגֶן היא שאימון והארה משולבים יחדיו ואינם נפרדים. זה-זן עוטף הארה, הארה מצויה בתוך האימון. אין סָטוֹרִי ללא אימון, ואין אימון ללא סטורי. כשאתם יושבים זה-זן במשך 5-10 דקות בכל יום, אתם כבר מצויים בהארה חלקית. לאחר שמצאתם את האני האמיתי שלכם, הדרך פתוחה לסָטוֹרִי ואתם פועלים להיטיב עם האנושות. ראשית, אתם נסוגים מהחברה והעולם החיצוניים לעבר האני האמיתי שלכם ולאחר שמצאתם את האני האמיתי, אתם שבים לחברה כדי לשרתה.
                </p>
                <p class="article-text">&nbsp;
                    ארבעת היסודות של הזן הם פשטות, עמקות, יצירתיות וחיוניות.
                </p>
                <p class="article-text">&nbsp;
                    מדוע חשוב למצוא את האני האמיתי שלנו? דרך הזן מלמדת אותנו כיצד לחתוך את כל האשליות שלנו כדי שנוכל להבין ולהתחבר למציאות ולהיות שרויים בה בכל רגע ורגע.
                </p>
                <p class="article-text">&nbsp;
                    דרך הזה-זן היא הדרך הישירה לאושר אמיתי, ובאמצעותה יכול כל אדם, בסופו של דבר, לדעת מי הוא באמת, מה בדיוק הוא ייעודו ומקומו האמיתי ביקום זה ובאיזה תחום של פעולה הוא מוכשר ויכול להצטיין. את ההישגים הנפלאים הללו ניתן להגשים רק אם אנחנו משחררים את עצמנו מכבלי האגו, כלומר חודרים לאני האמיתי שלנו.
                </p>
                <p class="article-text">&nbsp;
                    הזה-זן הינו ההרמוניה הגדולה בין האיברים הפנימיים, הלב, הנשימה והמוח. הרמוניה זו מאפשרת לנו לחדור ולמצוא את האני האמיתי שלנו. הזה-זן מפיח חיים באיברים הפנימיים. בנסיבות רגילות, הגוף מתקיים ומתפקד כפי שהוא, אך ללא הרוח האדירה של בודהה המאפשרת לנו להבין את החוק של בודהה.
                </p>
                <p class="article-text">&nbsp;
                    תרגול זה-זן הוא הליבה של הזן, השורה התחתונה. יותר תרגול ופחות דיבורים. עם הזמן, מגיעה ההבנה ומבשילה. כדאי לזכור שמקור ההבנה ושימורה הוא בגוף ולא באינטלקט.
                </p>
                <p class="article-text">&nbsp;
                    כשיושבים זה-זן, הדבר החשוב ביותר הוא לעשות לֵט-גוֹ לכל המחשבות, לכל דבר. בפוּקָאן-זָה-זֵן-גִי הנחיות לישיבה בזה-זן, כותב דוגן: חישבו מעבר לחשיבה. כיצד תחשבו מבלי לחשוב? חישבו מעבר לחשיבה ולאי-חשיבה. זהו ההיבט החשוב של ישיבת הזה-זן.
                </p>
                <p class="article-text">&nbsp;
                    גישת הסוטו זן היא כולה זן ע"י זן. מוֹקֻשוֹ זן - הזן השקט, שִיקַנְטָזָה - אך ורק זה-זן. זה-זן באמצעות זה-זן. כיוון ישירות למטרה, הצבעה על הסטורי. הדרך היחידה להגיע לאמת היא חיי היומיום עצמם. בכל יום אנו מתקרבים לאמת באמצעות תרגול זה-זן, פגישת מורה אמיתי (מתאפשר) ובאמצעות פעולותינו בחיי היומיום.
                </p>
                <p class="article-text">&nbsp;
                    באמצעות אנשים אחרים אנו יכולים לצפות בעצמנו בצורה הטובה ביותר וללמוד היכן אנו עומדים ביחס לאני האמיתי שלנו כאן ועכשיו. הקוֹאָן מופיע בחיי היומיום ואינו מוצע לתלמיד ע"י המורה. התלמיד מוצא את הקוֹאָן שלו ועל ידי כך יכול להמשיך להתקדם ולחדור לאני האמיתי. מאותו רגע שהתלמיד הגיע וחדר לאני האמיתי שלו, הוא/היא נמצאים באיזור ההארה ויכולים להגיע לסטורי. התלמיד מתאמן ברציפות יומיום ויום אחד, לפתע פתאום, לאחר שהגיע לאני האמיתי, הוא/היא מגיעים לסטורי ויש להם סטורי. זו הסיבה לכך שגישת הסוטו זן נקראת גם אסכולת ההארה הפתאומית.
                </p>
                <p class="article-text">&nbsp;
                    דוֹגֶן זֶנְגִ'י עשה את המאמץ העצום בנוסעו לסין כדי למצוא מורה אמיתי ובסופו של דבר הצליח להביא חזרה ליפן את תורת הסוטו זן. הוא הפיח חיים בזן. התמזל מזלו של דוגן ללמוד ממורה אמיתי מקורי וגדול בשם נְיוֹג'וֹ על הר טֶנְדוֹ שבסין. נְיוֹג'וֹ העביר לו את החוק האמיתי באמצעות עבודתם המשותפת - ישיבת הזה-זן. דוגן הגיע לסטורי וחזר ליפן כדי ללמד בפעם הראשונה את הזן של ההארה הפתאומית ואת גישת המוֹקוּשוֹ זן. הוא כתב את שוֹבּוֹגֶנְזוֹ, שהיא היצירה העיונית הבודהיסטית החשובה ביותר שנכתבה ביפן. בשובוגנזו הוא כתב מהי הדרך להיות אדם אמיתי לחיות במציאות ואיך להבין את הזמן.
                </p>
                <p class="article-text">&nbsp;
                    פרופ' מָסוּנָגָה רֶיְהוֹ (1901-1980) מאוניברסיטת קוֹמָהזָהוָאה, המורה שלי, תרגם והכיר את דוגן ואת שובוגנזו לאנשי העידן החדש במאה העשרים והעשרים ואחת. המהפכה החשובה והבולטת ביותר שהוביל היתה שלימד שכל אחד בחברה המודרנית יכול וחייב למצוא את עצמו/ה בתוך ובמהלך חיי היומיום שלו, באמצעות אימוני זה-זן יומיומיים. זן והתוצאות המיטיבות של האימונים, אינם מיועדים רק לקבוצות קטנות של אנשים המסתגרים במנזרים, אלא פתוחים ונגישים לכל אחד. פרופ' מסונגה רייהו הדגיש את העובדה שזן בכלל וזה-זן בפרט, הן פעולות אנושיות אוניברסאליות המצויות מעבר לכל המחלוקות, אפליה ואינן מנוגדות לאף אחת מהדתות הידועות והמערכות הקיימות. כך באה לידי ביטוי גדולתו של פרופ' מסונגה רייהו.
                </p>
                <p class="article-text">&nbsp;
                    אדם יכול להיות נוצרי, יהודי או מוסלמי או להשתייך לכל דת אחרת ובאמצעות אימוני הזה-זן למצוא את האני האמיתי שלו ולהגשים את האמונות והדרכים היקרות ללב והעמוקות של דתו.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

