<!-- Contact Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">פרטי התקשרות</h5>
        <h1 class="display-3 text-uppercase mb-0">צור איתי קשר</h1>
    </div>
    <div class="row g-5 mb-5">        
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">שלח לי מייל</h5>
                <p class="text-light mb-3 fw-bold">&nbsp;rikshidojo&#64;gmail.com</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-phone fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">צור קשר בטלפון</h5>
                <p class="text-light mb-3 fw-bold">
                    &nbsp;050-7003290
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-map-marker-alt fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">איפה מתאמנים</h5>
                <p class="text-light mb-3 fw-bold">אופקים, ישראל</p>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6">
            <iframe class="w-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27270.614125583357!2d34.604863895559575!3d31.30853280592081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15027a48e4e9815f%3A0xa0de722f2791008e!2sOfakim!5e0!3m2!1sen!2sil!4v1759670862369!5m2!1sen!2sil"
                frameborder="0" style="height: 457px; border:0;" allowfullscreen aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
        <div class="col-lg-6">
            <!-- Contatct Form for Natalia Gordon-->
            <app-contact-form phone='+972507003290'></app-contact-form>
        </div>        
    </div>
</div>
<!-- Contact End -->