<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">על חשיבות חיי האדם</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    27 בנובמבר 2025
                </p> 
                <p class="article-text">&nbsp;
                    חיי האדם חשובים מאד ואסור לאף בן אדם להרוג בני אדם אחרים גם אם הם רוצחים אכזריים. רק לאלוהים מותר להרוג אדם, כי הנשמה ניתנה ע"י אלוהים ונלקחת ע"י אלוהים. אף אדם הוא לא אלוהים והוא לא נתן את הנשמה והוא לא צריך לקחת את הנשמה. יוצא מן הכלל לכך הוא מצב של קרב שבו אם אתה לא הורג, הורגים אותך או שאם מתקיפים אותך ישירות או את המשפחה והחברים שלך או את הארץ שלך, אז מותר לך להרוג בקרב, מתוך הגנה עצמית.
                </p>
                <p class="article-text">&nbsp;
                    החברה שופטת את האדם ומכניסה אותו לכלוב ומבודדת אותו שלא יעשה נזק נוסף. מותר לה לבודד את הפושע, אך אסור לה להרוג אותו ולא משנה מה עשה ועד כמה הוא אדם רע. הוא צריך לסבול ולהשתנות. לא באמצעות עינויים, אלא באמצעות ההזדמנות שניתנה לו להיות עם עצמו ולחשוב על כל הסבל והנזק שגרם ולהגיע להבנה ואז אולי הוא ישתנה.
                </p>
                <p class="article-text">&nbsp;
                    באימוני הנִינְגִ'יצוֹ ובזֵן הדבר הכי חשוב הם החיים. אנחנו מנסים לתת ערך לחיים שלנו ולמצוא בשביל מה אנחנו כאן בעולם הזה. כל אחד, יש לו תפקיד מיוחד, ספציפי ולכן אנחנו מתרכזים ויושבים זָה-זֵן (Zazen) כדי שנוכל להבין מה הכישרון שלנו ובשביל מה נוצרנו.
                </p>
                <p class="article-text">&nbsp;
                    זֵן מאפשר לענות על השאלה הכי חשובה – מי אתה. זן אינו חיי היומיום. הדבר החשוב ביותר הוא מי אתה, מה הערך של חייך. מה תפקידך פה בעולם. רק מי שמוצא את עצמו, יודע מי הוא! זו דרגה גבוהה מאד. גם אם העולם ייגמר, הזן יישאר. הזרע המיטיב של הזן נזרע לנצח, מאז שהופיעו בעולם שבעת הבודהים (ובתוכם בודהה שַקְייָמוּנִי – מייסד הבודהיזם).
                </p>
                <p class="article-text">&nbsp;
                    אין זמן. מורה הזן, פרופ' מָסוּנָגָה רֶיְהוֹ אמר שכדי למצוא את עצמנו נדרשת מאיתנו עבודה רבה (אימוני זָה-זֵן הפרוסים למשך זמן רב). יש הרבה דברים שמפריעים ועומדים בדרכנו, כך שאין זמן לבזבז. הזמן מוגבל, אנחנו כפופים לזמן וצריך לנצל כל רגע. צריך להתאמן ולעבוד על עצמך כל יום. אסור לבזבז יום אחד. בסין חי מורה זן זקן. תלמידיו רצו להקל עליו והחביאו את כלי העבודה כדי שלא יתאמץ בעבודות השוטפות של המנזר. בתגובה אמר המורה: אין עבודה, אין אוכל וסרב לאכול.
                </p>
                <p class="article-text">&nbsp;
                    בכל מצב יש להמשיך את החיים ולשרוד, לא להתאבד. מי שמתאבד לא למד את הזמן והזרימה (NAGARE). אדם כזה, לא מבין ולא יודע שבעוד רגע, הכל יהיה אחרת. עכשיו, המיואשים, איבדו תקווה ולא רואים שהכל יהיה אחרת בעוד חמש דקות. מי שמבין זאת, הולך לישון או לנוח ואחר כך הכל אחרת ומשתנה.
                </p>
                <p class="article-text">&nbsp;
                    בקרב ובאימונים, אפילו שמנצחים אותך, זו לא תבוסה. התוצאה, תהיה אשר תהיה הופכת לניצחון ולהבנה. זו הדרך לניצחון. אין תבוסה ואין להיכנע. באימונים אפשר להיכנע, בקרב אין להיכנע. איש הנִינְגָ'ה, אפילו שמורידים לו את הידיים והרגליים, ממשיך להילחם.
                </p>
                <p class="article-text">&nbsp;
                    הגישה המתוארת במאמר זה ממחישה את חשיבות וערך החיים וחשיבות וערך שימורם, הן של האדם ביחס לעצמו והן של בני אדם ביחס לבני אדם אחרים, ללא יוצא מן הכלל.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

