<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->

<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">               
                <h1 class="fw-bold fst-italic mb-1">רשימת מונחים</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    28 מאי 2025
                </p> 
                <app-zen-terms-igyo></app-zen-terms-igyo>
                <app-zen-terms-eisai></app-zen-terms-eisai>
                <app-zen-terms-an-ataman></app-zen-terms-an-ataman>
                <app-zen-terms-engakuji></app-zen-terms-engakuji>
                <app-zen-terms-asanga></app-zen-terms-asanga>
                <app-zen-terms-buddha></app-zen-terms-buddha>
                <app-zen-terms-bodhidahrma></app-zen-terms-bodhidahrma>
                <app-zen-terms-bodhisatava></app-zen-terms-bodhisatava>
                <app-zen-terms-butsuden></app-zen-terms-butsuden>
                <app-zen-terms-gazen-ichimi></app-zen-terms-gazen-ichimi>
                <app-zen-terms-gyocha-shiki></app-zen-terms-gyocha-shiki>
                <app-zen-terms-genkan></app-zen-terms-genkan>
                <app-zen-terms-dojo></app-zen-terms-dojo>
                <app-zen-terms-haboku></app-zen-terms-haboku>
                <app-zen-terms-hatto></app-zen-terms-hatto>
                <app-zen-terms-hojo></app-zen-terms-hojo>
                <app-zen-terms-haiku></app-zen-terms-haiku>
                <app-zen-terms-zazen></app-zen-terms-zazen>
                <app-zen-terms-zendo></app-zen-terms-zendo>
                <app-zen-terms-zenki></app-zen-terms-zenki>
                <app-zen-terms-obaku></app-zen-terms-obaku>
                <app-zen-terms-yokyoku></app-zen-terms-yokyoku>
                <app-zen-terms-mokushozen></app-zen-terms-mokushozen>
                <app-zen-terms-mushi-dokugo></app-zen-terms-mushi-dokugo>
                <app-zen-terms-mengu></app-zen-terms-mengu>
                <app-zen-terms-soto-zen></app-zen-terms-soto-zen>
                <app-zen-terms-sunyata></app-zen-terms-sunyata>
                <app-zen-terms-satori></app-zen-terms-satori>
                <app-zen-terms-kanna-zen></app-zen-terms-kanna-zen>
                <app-zen-terms-kojo-no-shikan></app-zen-terms-kojo-no-shikan>
                <app-zen-terms-kinhin></app-zen-terms-kinhin>
                <app-zen-terms-renga></app-zen-terms-renga>
                <app-zen-terms-randori></app-zen-terms-randori>
                <app-zen-terms-shuryo></app-zen-terms-shuryo>
                <app-zen-terms-shikentaza></app-zen-terms-shikentaza>
                <app-zen-terms-jijiyuzamai></app-zen-terms-jijiyuzamai>
            </div>
            <!-- Blog Detail End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->