<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->

<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">זן וג'ודו</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    08 נובמבר 2025
                </p> 
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-book fs-5"></i>
                    &nbsp;
                    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5" aria-hidden="true"></i>
                    &nbsp;
                    דני וקסמן ועופר כהן
                </p> 
                <h4 class="fw-bold fst-italic mb-1">מבוא - דברי הכותבת</h4>
                <p class="article-text">&nbsp;
                    הזן וג'ודו שניהם דרכים למציאת האני האמיתי שלנו, אך כל אחד מציע מסע ייחודי – האחד פנימה, והאחר החוצה דרך פעולה. במאמר זה נבין את נקודות המפגש בין הזן לג'ודו.
                </p>
                <p class="article-text">&nbsp;
                    מהו הקשר בין זן לג'ודו? 
                    למרות שהזן הוא מסורת עתיקה העוסקת בהתבוננות פנימית ומדיטציה, ג'ודו הוא עיסוק פיזי ומשמעת גופנית ונפשית כאחד. בשני התחומים, קיימים עקרונות משותפים כמו שחרור מהאגו, התמדה ומיקוד ברגע הנוכחי.
                </p>
                <p class="article-text">&nbsp;
                    למידה וחיבור בין שני העולמות - 
                    אימון בג'ודו מגלה לתלמיד איכויות שמחוזקות דרך אימוני זן. שקט פנימי, אחריות אישית, שמירה על איזון רגשי ופיזי, כולם משחקים תפקיד חשוב בהתפתחות.
                </p>
                <h4 class="fw-bold fst-italic mb-1">אימון של גוף ונפש</h4>
                <p class="article-text">&nbsp;
                   העניין הגובר בזן ובג'ודו נמשך במקביל למה שכונה "הבום של יפן" במערב.
                   אף על פי אופי התרגול של הזן והג'ודו נראים ממבט ראשון שונים למדי,
                   בפועל הם דומים במהותם.
                   ג'ודו הוא אומנות השימוש בכוח פיזי ורוחני גם יחד, ביעילות מקסימלית.
                   על ידי תרגול טקטיקות שונות של הגנה והתקפה, מסייע הג'ודו לחניך להגשים את הפוטנציאל הרוחני והגופני שלו במלואו.
                   חניך המתמיד באימוניו, משיג ראיה נכונה של עצמיותו האמיתית (חודר לאני האמיתי שלו), 
                   וכתוצאה מכך מתעוררת בו השאיפה לפעול לטובת הכלל. הגעה לשלב זה היא המטרה העילאית של הג'ודו.
                </p>
                <p class="article-text">&nbsp;
                    מטרה זאת מתמזגת עם שני האידיאלים בג'ודו של הקודוקאן:
                    לעשות את השימוש היעיל ביותר באנרגיה של היריב ולקדם את ההתפתחות ההדדית שלנו ושל זולתנו.
                    אידיאלים אלו מתרכזים במאמציו של החניך לעזור לאחרים להגשים את אותה התפתחות המביאה שמחת חיים פנימית. 
                    הג'ודו של הקודוקאן שונה המג'וג'יטסו של יפן העתיקה. 
                    הג'וג'יטסו המסורתי כלל הרבה תכסיסים שמטרתם הייתה ליצור מום במתנגד. 
                    לפעמים הפך למעין הצגה בתשלום. 
                    ג'יגורו קאנו, מייסד הג'ודו של הקודוקאן, שינה כל זאת. 
                    לאחר שלמד שיטות שונות של הג'וג'יטסו מסורתי, בחר את הטכניקות הטובות ביותר ושילב אותן לכלל שיטה אחת.
                    קאנו לא הגביל את ייעוד הג'ודו רק למאבק לקביעת ניצחון או מפלה, 
                    הוא הציב את אימון הגוף והנפש כחלק אינטגרלי של שיטתו.
                </p>   
                <h4 class="fw-bold fst-italic mb-1">הג'ודו של הקודוקאן - הכרעה בדרך הרכה</h4>
                <p class="article-text">&nbsp;
                    למרות שהג'ודו התפתח מתוך שיטת הגִ'יקִישִין, יש למילה "ג'ודו" יותר מאשר משמעות טכנית בלבד. כמובן שהקודוקאן-ג'ודו מלמד טכניקה, אך הדגש העיקרי בו הוא על הדוֹ - שהיא הדרך להכרה עצמית. מטרתו העיקרית היא התנסות ב"דרך". תוך כדי כך נהנה הג'וּדוֹקָא מפעילות ספורטיבית ומגביר את כושרו להגנה עצמית.

<br>&nbsp;&nbsp;
בשנת 1890 הפליג קאנו מאירופה בחזרה ליפן. בעת שהאוניה חצתה את האוקיינוס ההודי, ארעה אי-הבנה שבעקבותיה הוזמן קאנו ע"י רוסי ענק לדו-קרב על הסיפון. בתחילת הקרב ניסה הרוסי לתפוס את קאנו בחיבוק דוב. קאנו ניצל הזדמנות זו, הסתובב והשליך את מתנגדו בתנועת אוֹגוֹשִי (אחת מהטלות המותן של הג'ודו).

הרוסי הועף קדימה בקשת גדולה. תחילה נראה היה כאילו הוא עומד ליפול על הסיפון כשראשו לפנים, אך קאנו שמר על אחיזה איתנה במפרק כף היד של מתנגדו והביא לנחיתתו חזרה על רגליו. הצופים התרשמו לא רק מההטלה בעיתוי המדויק, אלא גם מהצורה הבטיחותית של הבלימה. הרוסי לחץ את ידו של קאנו והם נפרדו כידידים טובים. האפיזודה הזאת מדגישה את שני האידיאלים של הג'ודו: שימוש בכוח במלואו, והתפתחות הדדית.
                </p>
                <h4 class="fw-bold fst-italic mb-1">אמנות הנפילה</h4>
                <p class="article-text">&nbsp;
                    הלימוד בג'ודו מתחיל באוּקֵמִי - אמנות הנפילה. ע"י תרגול אוּקֵמִי לומד החניך ליפול בצורה בטוחה מכל מצב בו הוא מושלך. באותה עת הוא בונה את בטחונו העצמי, ומעמיק את העניין שלו בג'ודו.

בשלב הבא, לומד החניך את אמנות ההטלה (טָאצִ'י-וָזָה). החניך מפתח את הבנתו, כיצד לנצל את כוחו בצורה היעילה ביותר. ע"י תרגול מתמיד, מתחיל החניך לרכוש את השליטה בדרכים השונות לערעור שיווי משקלו של היריב ולהטלתו. אומרים שכדי שהטלה תהיה יעילה, יש לתרגל אותה לפחות 3000 פעמים.

יש ללמוד ולהתאמן גם בעבודת קרקע (נֵה-וָזָה) אם כי לאחרונה היא פחות פופולארית. תרגול נֵה-וָזָה חשוב בדיוק כמו אמנות ההטלה להשגת מיומנות גבוהה בג'ודו. נֵה-וָזָה וטָאצִ'י-וָזָה באים יחדיו כמו זוג גלגלים בכרכרה.
<br>&nbsp;&nbsp;
בתרגול המשותף עם עמית לאימונים, על החניך לנוע ללא מתח ולנסות לבצע ללא היסוס את כל הטכניקות החדשות שלמד. עליו לפעול במרץ, כשהוא מוטל, עליו לבלום את נפילתו, לקום מיד ולחדש את התקפתו. כדי לבחון את כוחו, על החניך להשתתף מדי פעם בתחרויות ג'ודו.

לעתים קרובות, מפתח החניך עמדות ונקודות מבט חדשות כתוצאה מהאימונים. החניך עשוי להיווכח שהוא:
                </p>
                <ul class="article-text">
                    <li>פחות מתוח בכל מצב.</li>
                    <li>משוכנע בצורך ללמוד ממורה טוב.</li>
                    <li>בעל מוטיבציה רבה יותר לתרגל טכניקות כפי שלימד המורה.</li>
                    <li>מתפתה פחות להשתמש בטכסיסים מלוכלכים.</li>
                    <li>רגיש יותר לניצול בקיעים בהגנת היריב ומוטרד פחות מהצורך למצוא דרכים להתגונן.</li>
                    <li>ממקם את עצמו תמיד במצב המאפשר לו להשתמש ביעילות בכוחו של היריב.</li>
                    <li>רגיל להיות שקט ורגוע.</li>
                    <li>נמשך באופן טבעי לפשטות וניקיון.</li>
                </ul>
                <p class="article-text">&nbsp;
                    לסיכום, אימוני הג'ודו מגבירים את אומץ הלב וחופש הפעולה, מלמדים ערנות מתמדת ותושיה, מסייעים לפיתוח הערכה לכבוד האדם, ומכוונים את הגוף והנפש לפעולה חברתית. איש הג'ודו, בגמישות ואצילות, או לפי ציטוט ממקור עתיק: "כמו הצל העוקב אחר האדם",  מבצע בשקט את חלקו בפעולת העולם.
                </p>
                <h4 class="fw-bold fst-italic mb-1">הקשר של ג'ודו לזן</h4>
                <p class="article-text">&nbsp;
                    ביפן, בתקופת טוֹקוּגָאוָה, כדי להבין את הסוד הגדול ביותר של אמנות החרב, למדו אמני חרב כמו יָאגְיוֹ תָאגִ'ימָה נוֹ קָאמִי ומִיאָמוֹטוֹ מוֹסָאשִי זן. (Yagyu Tajima-no-Kami and Miyamoto Musashi) הם התאמנו לעתים קרובות זן בהדרכת מורי זן מפורסמים. לאחר שעברו את התהליך המקובל של ביקורת נוקבת (עצמית ושל המורה) ומשמעת עצמית פסיכו-פיזיולוגיית, הצליחו אחדים מהם להגיע להארה. זיקה דומה קיימת בין ג'ודו וזן.

השגת הארה מלאה של זן אינה שונה מהתנסות במשמעות המוחלטת של הג'ודו. בדרך זו גם חניכי זן וגם חניכי ג'ודו מגיעים לאמת של החיים. באמצעות אימונים אינטנסיביים הם חווים ידיעה עצמית של קרירות וחמימות. כפי שאמר דוֹגֶן:אימון חובק הארה - הארה שוכנת בתוך האימון, והאימון מתרחש בתוך הארה.
                </p>
                <h4 class="fw-bold fst-italic mb-1">ההכרח בקושי גדול</h4>
                <p class="article-text">&nbsp;
                    האדם לא יכול לדעת שום דבר בצורה עמוקה או להתנסות בדברים בצורה מושלמת בלי להתאמץ ובלי שיעבור ויתגבר על סבל או על משהו קשה. למרות שנוהגים לכנות את הזן כניסה נוחה, בפועל אין זה מעשה כה קל. החניך בדרך כלל משכים קום כדי להתאמן בישיבת הזָה-זֵן (ישיבה שלובת רגליים). בתקופת הסֵאשִין (תקופת האימון המיוחד) הוא יושב זָה-זֵן במשך שבעה ימים. קור והרצון לישון מפריעים לו, רגליו וידיו מתחילות לכאוב. שגרת המנזר הרגילה מחייבת אותו לטאטא את הגן בבוקר, ולשבת זה-זן פעם נוספת בערב.

                    באופן דומה גם לג'ודו יש תקופת אימון מיוחד - קַאנְגֵייְקוֹ (תרגול חורף) ודוֹיוֹגֵייְקוֹ (תרגול קיץ). כאחד שהתנסה הן בקַאנְגֵייְקוֹ והן באימון זן, אני יכול לערוב לעובדה, כי אף אחד משניהם אינו קל. אולם רק ע"י תרגול ממושמע, ללא התחשבות בחום וקור, יכול החניך לקבל שמץ של מושג לגבי מהותה של ההתנסות הטוטלית בג'ודו או בזן. אינך יכול ללמוד לשחות ע"י תרגול על טָטָמִי (מזרון או מחצלת עשויה קש דחוס ומשמש לאימון או שינה). 
                </p>
                <h4 class="fw-bold fst-italic mb-1">נפש שלווה - אימון הגוף והנפש</h4>
                <p class="article-text">&nbsp;
                    גם זן וגם ג'ודו צומחים מתוך הזהות-העצמית של גוף ונפש. באימון הגוף והנפש בדרך הזן, הדגש הוא על אי התנגדות, כלומר שחרור במובנו האֶקְזִיסְטֶנְצִיאָלִי האמיתי. נאמר כי דוֹגֶן העביר את החוק של אי ההתנגדות (הנפש השקטה) מסין. אי התנגדות, כמובן שלא במשמעות של חולשה. משמעותה - השתחררות מהעריצות של האגו וחדירה לאני האמיתי ואחר כך לחוסר אני. משוחרר אפילו מהתשוקה להגיע להארה, מבין סוף סוף האדם מה מניע את העולם.

גם בג'ודו הגוף והנפש הם ללא מתח. אין תשוקה בוערת לנצח. ההצבעה הישירה של הזן לעבר האחדות של הגוף והנפש שוכנת ביסוד מהותו של הג'ודו. נפש זן שלווה מבטאת עצמה בפעולה אינטגרטיבית מושלמת. תפקוד מלא של גוף-נפש לא משאיר נקודות תורפה.
<br>&nbsp;&nbsp;
אומרים שהאריה משקיע את מלוא כוחו בתפיסת הארנבת. הדבר נכון גם באימוני ובקרבות הג'ודו. המתאמן מטיל, מחזיק, ומתאבק במלוא אונו, אך ללא מתח. הגוף נע מידית כדי להתאים עצמו לשינויים בזמן ובמרחב. אלו שיש להם חוש של ג'ודו מונעים את פציעתם בנפילות שהן בד"כ מסוכנות. הם מסוגלים בקלות לשמור על עצמם מפני אלימות.

לכן הג'ודו הוא הרבה יותר מאשר רק הגנה עצמית או ספורט. הג'ודו בונה את האישיות ומוליך לקראת חופש המלווה באחריות. ע"י הרמוניה עם הטבע, מדגיש הג'ודו פעולה חסרת מאמץ. באופן דומה, מכבד הזן את סדרם הטבעי של הדברים. הביטוי: הנפש היומיומית של האדם היא עצמה הדרך, היא אימרת זן ידועה היטב.
                </p>
                <h4 class="fw-bold fst-italic mb-1">פעולה ללא עקבות</h4>
                <p class="article-text">&nbsp;
                    כמו שהציפור בשמים והדג במים לא משאירים עקבות בעוברם, כך גם הג'ודו אינו משאיר אחריו חוסר הרמוניה. כל אבני הדרך נקיות. בג'ודו, כמו בזן, כאשר המודעות והערנות מושלמים, כל פעולה טומנת בחובה חופש חיוני. המורים הגדולים של הזן והג'ודו נעים לאורכה של אותה דרך של חוסר נגף.
                    <br>&nbsp;&nbsp;
                    חניך הזן מגיע להבנת חוסר הנגף בעיקר באמצעות זה-זן בישיבה זקופה ונשימה ריתמית. שיטת תרגול זאת נראת לרוב אנשי המערב כמוזרה למדיי. אך היא מקבילה להטלות המתורגלות שלושת אלפים פעם בג'ודו. לכן, גם זן וגם ג'ודו שמים את הדגש הבסיסי על חופש מוחלט ויצירה. חניך הזן, מוכרח לא רק לקלוט את כל שבאפשרות המורה ללמדו אלא גם מוכרח להצטיין יותר ממנו. על החניך לעלות על מורהו. משמעות הדבר, כפי שציין פרופסור יוּגִ'ן הֵרִיגֶל בספרו זן ואמנות הקשתות היא: על החניך לטפס על כתפי המורה שלו. גם בג'ודו יש צדדים יצירתיים רבים. אם כי אולי פחות בהיבט של בפיתוח של טכניקות חדשות. גם הג'ודו משתמש בצורה, כדי להרחיק את האדם מהשתעבדות לצורה.
                    <br>&nbsp;&nbsp;
                    כאשר מתנסים בהם באופן מלא, מסייעים הזן והג'ודו להחליף אשליה בתחושה פנימית. הם מספקים לנו גישה רעננה לתנאי החיים של עולמנו. פעולות, אשר נראו בעבר שגרתיות, מקבלות רוח חיים. וכך אנו מוצאים את החכמה הטמונה באימרת הזן שנראת ממבט ראשון הכי פחות מבטיחה מבין כל אמרות הזן: כל יום הוא יום טוב, כל שעה היא שעה טובה.
                </p>
                <h4 class="fw-bold fst-italic mb-1">זן וספורט</h4>
                <p class="article-text">&nbsp;
                    הרוח של הזן אינה חשובה רק עבור ג'ודו אלא גם עבור כל ענפי הספורט. זן שם דגש על חיים מלאים בכל רגע ורגע, והלך רוח זה הכרחי לכל סוגי הספורט. גם זן וגם ענפי הספורט מדגישים אימון (מה שמכונה הסָאמָאדִי של הספורט), הקפדה על כללים, למידה ממורים גדולים, והצטיינות אובייקטיבית (החניך חייב לטפס על כתפי המורה בניסוחו של הֵרִיגֶל). מאפיינים דומים נוספים כוללים את הדגש המשותף על תשומת לב לפרטים, תנועה מלאת חן, והתפתחות אישית הבאה מתוך השתתפות פעילה. למרות שהמטרה האולטימטיבית בולטת אולי פחות בכמה ענפי ספורט מאשר בזן - מהי מטרה זו אם לא להשתחרר מהאובססיה להשגת תבוסה ונצחון? הזן של הספורט והספורט של הזן יכולים, שניהם כאחד, לסלול את הדרך לחיים משמעותיים יותר.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->
