<app-sensei-zen-hero></app-sensei-zen-hero>

<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8" dir="rtl">
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">זֵן ומוגבלויות</h1>  
                <p class="text-secondary mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    דני וקסמן
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    27 בנובמבר 2025
                </p> 
                <p class="article-text">&nbsp;
                    לכל בני האדם יש מגבלות. לאחד יותר ולשני קצת פחות. אין כזה דבר שישנו אדם בלי מגבלה. לכן הזֵן חשוב לכל בני האדם ללא יוצא מן הכלל. אך ישנם אנשים שסובלים יותר מהמוגבלויות שלהם וישנם אנשים שסובלים פחות. היות והזן היא תורה או פילוסופיה של מציאת האני האמיתי ע"י השתחררות מהאגו וזו דרך חיים ופילוסופיה פנימית שמכוונת מהחוץ אל האדם ופנימיותו. הזן גם מתבסס על התקדמות אישית דרך חיי היום יום. זו שיטה נפלאה לעזור לאנשים שסובלים ממגבלות לזהות את ההפרעות שלהם וע"י ישיבת הזָה-זֵן ביחד עם מורה אמיתי שהגיע לעצמו ומלמד זן בדרך האהבה ומילים טובות שמעודדות ומחזקות את האדם הסובל. לאט לאט הוא ידע את ערך עצמו ויתחזק וידע למצוא את דרכו בחיים ובחברה וגם יהיה מאושר.
                </p>
                <p class="article-text">&nbsp;
                    הזן יכול מאד לעזור לאדם עם מוגבלויות כנגד אפליה ודעה קדומה. ע"י כך שהאדם ילמד בדרך הזן והאימונים היום יומיים להיות הוא עצמו ובלתי תלוי בחברה המקיפה אותו. העולם הפנימי שלו יהיה מפותח מאד וגם המחשבה שלו תלך ותתפתח והעולם הפנימי שלו יהיה מושלם ואז הוא לא יפגע מדעות קדומות ואפליה כנגד נכותו וכן גם הוא יהיה מוקף מסביבו בחברה של הזן שתומכת בכל אחד.
                </p>
                <p class="article-text">&nbsp;
                    הזן יכול לעזור לאדם עם מוגבלויות להתמודד עם בדידות ובידוד חברתי. ראשית, אדם שמתאמן זן הוא כבר לא מבודד מהתחלה מפני שיש לו מורה לזן וגם את אהדת מתאמני הזן האחרים. בנוסף לכך, אדם שמתאמן זן לא צריך כל כך חברים מפני שיש לו את עצמו ולכן הוא לא תלוי באנשים רבים ויכול להתמודד עם בדידות ובידוד חברתי.
                </p>
                <p class="article-text">&nbsp;
                    הזן מושתת על אימונים יום יומיים של זָה-זֵן שמלמדים את האדם משמעת עצמית של עבודה על עצמך ומפתחים את הכוח ההומני ואהבת האדם ואת הרצון לעזור לחברה האנושית. האדם הזה שסובל ממוגבלויות שונות ע"י תמיכה חזקה של מורה הזן, ומחברת אנשי הזן שמקיפה אותו ומעודדת אותו, לאט לאט הוא נהפך לאדם נעלה ולמרות הדחייה ויחס לא נעים מצד אנשים מסוימים, הוא מחזיר לחברה אהבה ויחס הומני. היות והאדם הזה שסובל ממוגבלויות שונות לומד ומתפתח בדרך הזן שלא מתבססת על פיתוח האינטלקט אלא על מציאת האני האמיתי ולא על רדיפת פרסומת וכוח. הוא יכול להגיע ליצירה פנימית מאד גדולה שתעלה על כל המגבלות שלו ואז הוא יוכל לחיות ולהיות מוכר ע"י החברה.
                </p>
                <p class="article-text">&nbsp;
                    ישנם אנשים שאין להם ידיים ורגליים או שחסרה להם רגל אחת או יד אחת או שהם עיוורים ולא רואים בכלל אך זה לא אומר שהם לא יכולים להגיע לאני האמיתי שלהם ולשלמות פנימית. הרי הידיים והרגליים או העיניים קיימים בתוך נפשם וכשהם יושבים בישיבת הזה-זן על כיסא רגיל או על כיסא גלגלים. הם בנפשם יושבים עם כל האיברים שחסרים להם. אז, ברגע שהם מתחילים לעשות זה-זן, הם לא סוגרים לגמרי את העיניים ולא פותחים אותן לחלוטין. לאחר מכן נושפים את האוויר החוצה באמצעות הפה פעם אחת או פעמיים ואחר כך סוגרים את הפה ונושמים בטבעיות דרך האף בתחתית הבטן. במשך תרגול הזה-זן משתדלים להפסיק את פעילות המחשבות ומשתדלים להיות מעבר למחשבות. כך יושבים חמש עד עשר דקות בבוקר לאחר שקמים ובדרך זו של אימונים יום יומיים ההרמוניה הגדולה בין האיברים הפנימיים, הלב, הנשימה והמוח מתפתחת ונוצר כוח גדול ואנרגיה פנימית נפלאה וגם מופיעה השמחה והאושר מבפנים. לאט לאט הם יוכלו להגיע לאני האמיתי ואחר כך הם יוכלו להגיע לסָטוֹרִי (הארה).
                </p>
                <p class="article-text">&nbsp;
                    הזן הוא בעל חשיבות עצומה עבור הנכים. זן במשולב עם ספורט או פעילות גופנית, זה צרוף אידיאלי. הזן לא דורש מהאדם פעילות חיצונית רבה אלא עבודה פנימית שלא מחייבת את האדם למאמץ גופני רב. הזן בונה לאדם הזה אישיות הומנית חיובית ע"י כך שהוא מאפשר לו באמצעות התרגול להתגבר על כל התסכולים ועל מחשבות של מסכנות ורחמים על עצמו והופך אותו לאדם שרוצה לעזור לחברה ולאנשים ע"י כוח האהבה המופנה לזולת.
                </p>
                <p class="article-text">&nbsp;
                    גָאמַן היא מילה ביפנית שמשמעותה סבלנות כלפי עצמך. היכולת לספוג מבלי להישבר ולהיכנע בחיים ובקרב. הגָאמַן הוא יסוד מאד חשוב בתרבות היפנית לכל אורך הדורות. אדם שסובל מחוסר שלמות בגופו, שחסרה לו יד או רגל והוא סובל ממוגבלות תפקודית מסוימת, זקוק לגאמן שקשור בקשר חזק מאד לזן. הוא זקוק לשניהם יחדיו והם מכילים בתוכם משמעת עצמית חזקה ופיתוח ההרמוניה הגדולה מבפנים. שניהם כאחד חיוניים לאדם כדי שיוכל להשיג הישגים ולעמוד בדרישות החיים ממנו ויוכל לתפקד כמעט כמו כל אדם אחר שאינו סובל ממוגבלויות. הגאמן טוב לכל אדם, אך לאדם עם מוגבלויות מסוימות הוא חשוב במיוחד כדי שיוכל לתפקד בחיים ובחברה.
                </p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <app-comments-list [comments]="comments"></app-comments-list>
            <!-- Comment List End -->

            <!-- Comment Form Start
            <app-addcomment (newCommentAdded)="addNewComment($event)"></app-addcomment>
             -->
        </div>

        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
    </div>
</div>

