<!-- Hero Start -->
<app-hero></app-hero>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">מה הוא זן?</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    21 לאפריל 2024
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    סנסאי דני וקסמן
                </p> 
                <p>המורה שלי פרופ&#39; מאסונאגה ריהו ענה: &#34;זן הוא תרגול העוזר לכל אדם לחדור לאני האמיתי שלו על-ידי
                    ישיבה שלובת רגליים (זה-זן: za-zen) ולהפעיל את האני האמיתי הזה בחיי היום-יום&#34;.
                    הגדרה זו אינה מקיפה את כל היבטי הזן, אבל היא כוללת את היסודות החשובים. שלוש הנקודות הבסיסיות בהגדרה הן:
                </p>
                <div>
                    <ol type="1">
                        <li>תרגול הזה-זן</li>
                        <li>חדירה לאני האמיתי</li>
                        <li>הפעלה של האני האמיתי בחיי היום-יום</li>
                    </ol>
                </div>
                <p>זן הוא דרך ישירה למצוא את עצמך. בזן נסוגים מהחוץ אל הפנים, אל האני האמיתי שלנו. לאחר שחודרים לאני האמיתי באמצעות אימוני הזה-זן, מגיעים לאושר מבפנים,
                    מבונים מהו הזמן האמיתי ומה ייעודנו בחיים.
                    כשנמצאים קצת לפני הסטורי, כלומר באזור ההארה, חוזרים לשרת את החברה האנושית.</p>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4">3 תגובות</h3>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex ms-5 mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
            </div>
            <!-- Comment List End -->

            <!-- Comment Form Start -->
            <app-comments></app-comments>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <app-sidebar></app-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->