<!-- Hero Start -->
<app-shared-hero></app-shared-hero>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid p-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-50 rounded mb-5" src="assets/img/blog-zen-1.jpg" alt="סנסאי-דן וקסמן">                
                <h1 class="fw-bold fst-italic mb-1">הנחיות לישיבה בזה-זן (פוקאן-זה-זן-גי)</h1>  
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-user fs-5"></i>
                    &nbsp;
                    נטליה גורדון
                    |
                    &nbsp;
                    <i class="bi bi-calendar-date"></i>
                    &nbsp;
                    04 יוני 2025
                </p> 
                <p class="text-secondary  mb-3 font-weight-bold">
                    <i class="fa fa-book fs-5"></i>
                    &nbsp;
                    מתוך הספר הדרך הישירה לאני האמיתי ולתפקוד מלא בחיי היומיום
                    |
                    &nbsp;
                    <i class="fa fa-user fs-5" aria-hidden="true"></i>
                    &nbsp;
                    דני וקסמן ועופר כהן
                </p>
                <div>&nbsp;
                    רצוי לשבת זה-זן בחדר שקט. לאכול ולשתות ללא הפרזה. הסירו מעליכם אין-ספור תלויות, הימנעו בזה-זן מכל דבר ועניין. אל תחשבו על טוב ורע. אל תחשבו על נכון ולא נכון, על צדק ועוולה. עצרו את פעלתנות הנפש, הרצון, והתודעה. תנו לזכרונות, לתפיסות ולהתבוננות הפנימית לחלוף. אל תתאמצו להיות בודהה. אל תצמדו לצורה של ישיבה או שכיבה.
                </div>
                <div>&nbsp;
                    היכן שיושבים, פורסים כרית עבה מרובעת ועליה מניחים כרית עגולה. יש כאלו שיושבים זה-זן בפַּארְיִאנְקָה (ישיבה שלובת רגליים שלמה) והאחרים בישיבת חצי-פאריאנקה. בפאריאנקה מניחים את רגל ימין על הירך השמאלית ואת הרגל השמאלית על ירך ימין. מתארגנים כך שהבגדים והחגורה לא יהיו הדוקים לגוף. לאחר מכן מניחים את כף היד הימנית על הרגל השמאלית ואת כף היד השמאלית בתוך כף היד הימנית, ולוחצים את קצות הבוהנים זה לזה. יושבים זקופי גב. לא נוטים שמאלה או ימינה, קדימה או אחורה. ממקמים את האוזניים כך שיהיו באותו המישור כמו הכתפיים ואת האף באותו קו הגוף של הטבור. הלשון נחה בחופשיות על החיך התחתון, השיניים והשפתיים סגורות ללא מאמץ. העיניים פתוחות למחצה. מניעים את הגוף שמאלה וימינה, קדימה ואחורה עד שמוצאים את התנוחה הנוחה לגוף, שואפים אוויר בשקט, נושפים בחדות. לאחר מכן יושבים ביציבות בתנוחת הזה-זן. חישבו מעבר לחשיבה. כיצד תחשבו מבלי לחשוב? חישבו מעבר לחשיבה ולאי-חשיבה. זהו ההבט החשוב של ישיבת הזה-זן.
                </div>
                <div>&nbsp;
                    ישיבה שלובת רגליים זו אינה מדיטציה בשלבים. היא רק דרך לימוד נוחה. ישיבת זה-זן היא אימון והארה של חכמה חובקת כל. הקוֹאָן יופיע בחיי היום יום. אתם חופשיים לחלוטין - כמו דג שיש לו מים או נמר החי בהרים. הכרחי שתווכחו שהחוק האמיתי מופיע בטבעיות ונפשכם תהיה חופשית מדעיכה והפרעה. כשמסיימים את הזה-זן, מנענעים את הגוף מצד לצד וקמים בשלווה לעמידה. המנעו מתנועות חדות. מי שמת בעודו בחיים, יושב או עומד - מתעלה, באמצעות עוצמה זו, מעל להוויתם של האדם הרגיל והחכם. בזאת נוכחתי. בנוסף לכך, תיפקוד עילאי (הרמת אצבע, שימוש במחט, חבטה על גונג של עץ) וסימני הארה (הנפת מקל ההליכה של המורה, חבטת אגרוף, הכאה באמצעות המקל, צעקה) אינם מובנים באמצעות יצירת ניגודים. אינכם יכולים להבין טוב אימון והארה באמצעות כוחות על-טבעיים. זהו מצב (ישיבה, עמידה, שינה) שהוא מעבר לקולות הנשמעים ולדברים הנראים. זו האמת שמעבר לדעות היוצרות הבחנות ואפליה. לכן אל תתווכחו על מהי חוכמה ומהי טיפשות. אם אתם יכולים רק להתאמן קשה, זוהי הארה אמיתית. אימון והארה הם מטבעם ללא רבב. חיים על פי הזן אינם נפרדים מחיי יום יום.
                </div>
                <div>&nbsp;
                    הבודהים - מורי הזן בעולם הזה ובעולמות אחרים, ואבות הזן בהודו ובסין, דאגו כולם במידה שווה לשמר את חותמת הבודהה והפיצו את הסגנון האמיתי של הזן החי. זן טהור חודר לכל הפעולות והדברים.
                </div>
                <div>&nbsp;
                    שיטות האימון מגוונות, אבל עשו זן טהור. אל תנדדו לשווא לארצות "מאובקות" אחרות בעוזבכם בכך את ביתכם. אם תטעו בצעד הראשון, תמעדו מיד. זכיתם כבר בפונקציות החיוניות של גוף האדם. אל תבזבזו זמן לשווא. אתם יכולים להחזיק במהות של הבודהיזם. האם זה טוב להנות מהעולם בן החלוף? הגוף זמני כמו טל על דשא. החיים מהירים כמו הבזק הברק. הגוף כלה במהירות, החיים מסתיימים בשניה.
                </div>
                <div>&nbsp;
                    מתאמנים נחושים, זהו את הדרקון האמיתי, ואל תבזבזו זמן רב כל כך במישוש רק חלק מהפיל. רכזו את כל מאמציכם בדרך המצביעה ישירות על האני האמיתי. כבדו את אלו שהגיעו לנקודה האולטימטיבית. צרפו עצמכם לחכמה של הבודהים והעבירו ישירות את המדיטציה של אבות הזן. אם תפעלו כך זמן מה, תהיו כמותם. אז יפתח בטבעיות בית האוצרות והנאתכם תהיה שלמה.
                </div>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4">3 תגובות</h3>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
                <div class="d-flex ms-5 mb-4">
                    <img src="/assets/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                        <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                            accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                        <button class="btn btn-sm btn-secondary">Reply</button>
                    </div>
                </div>
            </div>
            <!-- Comment List End -->

            <!-- Comment Form Start -->
            <app-comments></app-comments>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4" dir="rtl">
            <app-zen-sidebar></app-zen-sidebar>
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->